<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300"><strong>Ver</strong> <i>Egreso</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-originalbmnvxzcbhmgchdghjitle="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row text-center ">
                        <div class="col-12">
                            <h3 class="display-4">Ver Cheques </h3>
                        </div>
                    </div>

                    <!-- Formulario  -->
                    <form class="form-group" method="post" action="/addEgreso">
                        <div class="container">
                            <label class="form-label col-12" for="simpleinput">
                                <h3 class="text-center">Egresos</h3>
                            </label><br /><br />

                            <div class="row mb-6">
                                <div class="col-4">
                                    <span>Empresa</span><br>
                                    <input type="text" id="b1" class="form-control" placeholder="Buscar empresa ">
                                    <select name="cheque_empresa_id" id="s1" class="form-control" >
                                        <option value="" selected disabled hidden>Seleccione una opción</option>
                                        {{#each empresas}}
                                            <option value="{{empresa_id}}" {{#if (is ../e.cheque_empresa_id empresa_id)}}selected{{/if}}>{{empresa_razon_social}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                                <div class="col-4">
                                    <span>Cuenta de Banco</span>
                                    <input type="text" id="b2" class="form-control" placeholder="Buscar cuenta de banco">
                                    <select name="cheque_cuenta_id" id="s2" class="form-control">
                                        <option value="" selected disabled hidden>Seleccione una opción</option>
                                        {{#each cuentas}}
                                            <option value="{{id}}" {{#if (is ../e.cheque_cuenta_id id)}} selected {{/if}}>{{cuenta}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                                <div class="col-4">
                                    <span>Tipo de Cambio</span>
                                    <input type="text" class="form-control" name="TipoCambio" value="{{e.TipoCambio}}"> <br>
                                </div>
                            </div>


                            <div class="row mb-6">
                                
                                <div class="col-4">
                                    <span>Proveedor</span>
                                    <input type="text" id="b3" class="form-control" placeholder="Buscar proveedor">
                                    <select name="cheque_proveedor_id" id="s3" class="form-control">
                                        <option value="" selected disabled hidden>Seleccione una opción</option>
                                        {{#each proveedores}}
                                            <option value="{{proveedor_id}}" {{#if (is ../e.cheque_proveedor_id)}} selected {{/if}} >{{proveedor_razon_social}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            
                                <div class="col-4">
                                    <span>Monto del Cheque</span>
                                    <input type="text" class="form-control" name="cheque_monto" id="total" onkeyup="calcular()" value="{{e.cheque_monto}}"> <br>
                                </div>
                                <div class="col-4">
                                    <span>Cuenta Contable Banco</span>
                                    <input type="text" id="b4" class="form-control" placeholder="Buscar cuenta contable de banco">
                                    <select name="cuenta_contable" id="s4" class="form-control">
                                        <option value="" selected disabled hidden>Seleccione una opción</option>
                                        {{#each cuentas}}
                                            <option value="{{id}}" {{#if (is ../e.cuenta_contable id)}} selected {{/if}}>{{cuenta}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-4">
                                    <span>Subtotal</span>
                                    <input type="text" class="form-control" name="cheque_subtotal" id="subtotal"> <br>
                                </div>
                                <div class="col-4">
                                    <span>Cuenta Contable Venta</span>
                                    <input type="text" id="b5" class="form-control" placeholder="Buscar cuenta contable venta">
                                    <select name="cuenta_contable2" id="s5" class="form-control">
                                        <option value="" selected disabled hidden>Seleccione una opción</option>
                                        {{#each cuentas}}
                                            <option value="{{id}}" {{#if (is ../e.cuenta_contable2)}} selected {{/if}}>{{cuenta}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            
                                <div class="col-4">
                                    <span>IVA</span>
                                    <input type="text" class="form-control" name="cheque_iva" id="iva"> <br>
                                </div>
                                
                            </div>

                            <div class="row mb-6">
                                <div class="col-4">
                                    <span>Cuenta Contable Impuesto</span>
                                    <input type="text" id="b6" class="form-control" placeholder="Buscar cuenta contable impuesto">
                                    <select name="cuenta_contable3" id="s6" class="form-control">
                                        <option value="" selected disabled hidden>Seleccione una opción</option>
                                        {{#each cuentas}}
                                            <option value="{{id}}">{{cuenta}} {{#if (is ../e.cuenta_contable3)}} selected {{/if}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                                <div class="col-4">
                                    <span>Retención IVA</span>
                                    <input type="text" class="form-control" name="cheque_retencion" value="{{e.cheque_retencion}}"> <br>
                                </div>
                                <div class="col-4">
                                    <span>Retención ISR</span>
                                    <input type="text" class="form-control" name="retencion_isr" value="{{e.retencion_isr}}"> <br>
                                </div>
                                
                                
                            </div>
                            <div class="row mb-6">
                                <div class="col-4">
                                    <span>Folio</span>
                                    <input type="text" class="form-control" name="cheque_folio" value="{{e.cheque_folio}}"> <br>
                                </div>
                                <div class="col-4">
                                    <label>Numero de Documento</label>
                                    <input type="text" class="form-control" name="cheque_documento" value="{{e.cheque_documento}}"> <br>
                                </div>
                                <div class="col-4">
                                    <label>Fecha de transferencia</label>
                                    <input type="date" class="form-control" name="FechaTransferencia" value="{{e.FechaTransferencia}}">

                                </div>
                            </div>
 
                            

                            <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                                <div class="collapse multi-collapse" id="multiCollapseExample1">
                                    <div class="card card-body">
                                        <label for="" class="font-weight-bold">Cotizacion / Proyecto</label><br>
                                        <label>{{e.cheque_cotizacion_id }}</label>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4">
                                    <label>Inversión</label>
                                    <input type="text" id="b7" class="form-control" placeholder="Buscar inversion">
                                    <select class="form-control d-inline " id="s7" 
                                        name="cheque_inversion_id">
                                        
                                        <option value="" selected disabled hidden>Seleccione una opción</option>
                                        {{#each inversion}}
                                            <option value="{{inversion_id}}" {{#if (is ../e.cheque_inversion_id inversion_id)}} selected {{/if}}>{{Inversion_descripcion}}</option>
                                        {{/each}}

                                    </select>
                                </div>
                                <div class="col-4">
                                    <label>Centro de Costos</label>
                                    <input type="text" id="b8" class="form-control" placeholder="Buscar centro de costos">
                                    <select class="form-control d-inline " 
                                        name="cheque_centrodecostos_id">
                                        <option value="" selected disabled hidden>Seleccione una opción</option>
                                        {{#each centroCostos}}
                                            <option value="{{id}}" {{#if (is ../e.cheque_centrodecostos_id id)}} selected {{/if}}>{{nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-4">
                                    <span for="example-date">Sucursal</span>
                                    <input type="text" id="b9" class="form-control" placeholder="Buscar sucursal">
                                    <select class="form-control d-inline " id="s9" name="sucursal_id">
                                        <option value="" selected disabled hidden>Seleccione una opción</option>
                                        {{#each sucursal}}
                                            <option value="{{id}}" {{#if (is ../e.sucursal_id id)}} selected {{/if}}>{{nombre}}</option>
                                        {{/each}}
                                    </select>

                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4">
                                    <label>Fecha de egreso</label>
                                    <input type="date" class="form-control" name="cheque_fecha_alta" value="{{e.cheque_fecha_alta}}"> <br>
                                </div>
                                <div class="col-4">
                                    <label>Tipo de erogacion/Presupuesto</label>
                                    <input type="text" id="b10" class="form-control" placeholder="Buscar tipo de erogacion / presupuesto">
                                    <select class="form-control d-inline " id="s10" 
                                        name="cheque_erogacion_id">
                                        <option value="" selected disabled hidden>Seleccione una opción</option>
                                        {{#each erogacion}}
                                            <option value="{{id}}" {{#if (is ../e.cheque_erogacion_id id)}} selected {{/if}}>{{descripcion}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-4">
                                    <span for="example-date">Concepto de obra</span>
                                    <input type="text" id="b11" class="form-control" placeholder="Buscar concepto de obra">
                                    <select class="form-control d-inline " id="s11" name="erogacion_obra_id">
                                        <option value="" selected disabled hidden>Seleccione una opción</option>
                                        {{#each obras}}
                                            <option value="{{id}}" {{#if (is ../e.erogacion_obra_id id)}} selected {{/if}}>{{descripcion}}</option>
                                        {{/each}}
                                    </select>

                                </div>
                            </div>

                            

                            <label>Comentarios</label>
                            <textarea class="form-control" name="cheque_comentario" disabled rows="4" cols="50" style="resize: none;" value="{{e.cheque_comentario}}"></textarea><br>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Numero de factura</span>
                                    <input type="text" class="form-control" name="NumFactura" value="{{e.NumFactura}}"> <br>
                                </div>
                                <div class="col-6">
                                    <span>UUID</span>
                                    <input type="text" class="form-control" name="UUID" value="{{e.UUID}}"> <br>
                                </div>
                            </div>

                            <br><br>
                            
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}
<script>
    const coments = {{{json e.cheque_comentario}}};
    const comentario = document.querySelector('textarea[name="cheque_comentario"]');
    comentario.value = coments;
  function calcular(){
    var total = document.getElementById('total').value;

    //calcular el 16% de la cotizacion
    var iva = total * 0.16;
    document.getElementById('iva').value = iva;

    //calcular el subtotal
    var subtotal = total - iva;
    document.getElementById('subtotal').value = subtotal;
  }

document.onload = calcular();

 function buscarEnSelect(inputId, selectId) {
    // Obtener el input de búsqueda y el select
    var input = document.getElementById(inputId);
    var select = document.getElementById(selectId);

    // Agregar un evento keyup al input de búsqueda
    input.addEventListener("keyup", function(){
      // Obtener el valor del input
      var valor = this.value.toLowerCase();

      // Recorrer todos los option del select
      for (var i = 0; i < select.length; i++) {
        var option = select.options[i];
        // Si el texto del option incluye el valor del input
        if (option.text.toLowerCase().includes(valor)) {
          // Mostrar el option
          option.style.display = "block";
        } else {
          // Ocultar el option
          option.style.display = "none";
        }
      }
    });
    

  }


    buscarEnSelect("b1", "s1");
    buscarEnSelect("b2", "s2");
    buscarEnSelect("b3", "s3");
    buscarEnSelect("b4", "s4");
    buscarEnSelect("b5", "s5");
    buscarEnSelect("b6", "s6");
    buscarEnSelect("b7", "s7");
    buscarEnSelect("b8", "s8");
    buscarEnSelect("b9", "s9");
    buscarEnSelect("b10", "s10");
    buscarEnSelect("b11", "s11");

    document.addEventListener("DOMContentLoaded", function() {
  // Seleccionar todos los inputs y selects
  var inputs = document.querySelectorAll("input, select");
  
  // Iterar sobre cada elemento y deshabilitarlo
  for (var i = 0; i < inputs.length; i++) {
    inputs[i].disabled = true;
  }
});
</script>
{{/section}}