<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300"><strong>Crear</strong> <i>Egreso</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-originalbmnvxzcbhmgchdghjitle="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row text-center ">
                        <div class="col-12">
                            <h3 class="display-4">Alta de Cheques -</h3>
                        </div>
                    </div>

                    <!-- Formulario  -->
                    <form class="form-group" method="post" action="/addEgreso">
                        <div class="container">
                            <label class="form-label col-12" for="simpleinput">
                                <h3 class="text-center">Egresos</h3>
                            </label><br /><br />

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Empresa</span>
                                    <select name="cheque_empresa_id" id="" class="form-control">
                                        <option value="" disabled selected></option>
                                        {{#each empresas}}
                                            <option value="{{empresa_id}}">{{empresa_razon_social}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                                <div class="col-6">
                                    <span>Cuenta de Banco</span>
                                    <select name="cheque_cuenta_id" id="" class="form-control">
                                        <option value="" disabled selected></option>
                                        {{#each cuentas}}
                                            <option value="{{id}}">{{cuenta}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>


                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Tipo de Cambio</span>
                                    <input type="text" class="form-control" name="TipoCambio"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Proveedor</span>
                                    <select name="cheque_proveedor_id" id="" class="form-control">
                                        <option value="" disabled selected></option>
                                        {{#each proveedores}}
                                            <option value="{{proveedor_id}}">{{proveedor_razon_social}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Monto del Cheque</span>
                                    <input type="text" class="form-control" name="cheque_monto"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Cuenta Contable Banco</span>
                                    <select name="cuenta_contable" id="" class="form-control">
                                        <option value="" disabled selected></option>
                                        {{#each cuentas}}
                                            <option value="{{id}}">{{cuenta}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Subtotal</span>
                                    <input type="text" class="form-control" name="cheque_subtotal"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Cuenta Contable Venta</span>
                                    <select name="cuenta_contable2" id="" class="form-control">
                                        <option value="" disabled selected></option>
                                        {{#each cuentas}}
                                            <option value="{{id}}">{{cuenta}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>IVA</span>
                                    <input type="text" class="form-control" name="cheque_iva"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Cuenta Contable Impuesto</span>
                                    <select name="cuenta_contable3" id="" class="form-control">
                                        <option value="" disabled selected></option>
                                        {{#each cuentas}}
                                            <option value="{{id}}">{{cuenta}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Retención IVA</span>
                                    <input type="text" class="form-control" name="cheque_retencion"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Retención ISR</span>
                                    <input type="text" class="form-control" name="retencion_isr"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Folio</span>
                                    <input type="text" class="form-control" name="cheque_folio"> <br>
                                </div>
                            </div>
 
                            <div class="col-md-6 col-sm-6 col-lg-3 mb-3 text-center">
                                <label for="" class="font-weight-bold">Proyecto / Razón Social</label><br>
                                <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1"
                                    role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Desplegar
                                    Tabla</a>
                            </div>

                            <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                                <div class="collapse multi-collapse" id="multiCollapseExample1">
                                    <div class="card card-body">
                                        <label for="" class="font-weight-bold">Cotizacion /
                                            Proyecto</label><br>
                                        <!-- datatable start -->
                                        <table id="cotizaciones"
                                            class="table table-bordered table-hover table-striped w-100">
                                            <thead class="bg-primary-600">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Proyecto</th>
                                                    <th>Descripcion</th>
                                                    <th>Cliente</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                        <!-- datatable end -->
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4">
                                    <label>Inversión</label>
                                    <select class="form-control d-inline " style="width:95% !important"
                                        name="cheque_inversion_id">
                                        <option value="" disabled selected></option>
                                        {{#each inversion}}
                                            <option value="{{inversion_id}}">{{Inversion_descripcion}}</option>
                                        {{/each}}

                                    </select>
                                </div>
                                <div class="col-4">
                                    <label>Centro de Costos</label>
                                    <select class="form-control d-inline " style="width:95% !important"
                                        name="cheque_centrodecostos_id">
                                        <option value="" disabled selected></option>
                                        {{#each centroCostos}}
                                            <option value="{{id}}">{{nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-4">
                                    <span for="example-date">Sucursal</span>
                                    <select class="form-control d-inline " name="sucursal_id">
                                        <option value="" disabled selected></option>
                                        {{#each sucursal}}
                                            <option value="{{id}}">{{nombre}}</option>
                                        {{/each}}
                                    </select>

                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4">
                                    <label>Fecha de egreso</label>
                                    <input type="date" class="form-control" name="cheque_fecha_alta"> <br>
                                </div>
                                <div class="col-4">
                                    <label>Tipo de erogacion/Presupuesto</label>
                                    <select class="form-control d-inline " style="width:95% !important"
                                        name="cheque_erogacion_id">
                                        <option value="" disabled selected></option>
                                        {{#each erogacion}}
                                            <option value="{{id}}">{{descripcion}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-4">
                                    <span for="example-date">Concepto de obra</span>
                                    <select class="form-control d-inline " name="erogacion_obra_id">
                                        <option value="" disabled selected></option>
                                        {{#each obras}}
                                            <option value="{{id}}">{{descripcion}}</option>
                                        {{/each}}
                                    </select>

                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <label>Numero de Documento</label>
                                    <input type="text" class="form-control" name="cheque_documento"> <br>
                                </div>
                                <div class="col-6">
                                    <label>Fecha de transferencia</label>
                                    <input type="date" class="form-control" name="FechaTransferencia">

                                </div>
                            </div>

                            <label>Comentarios</label>
                            <textarea class="form-control" name="cheque_comentario" rows="4" cols="50"></textarea><br>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Numero de factura</span>
                                    <input type="text" class="form-control" name="NumFactura"> <br>
                                </div>
                                <div class="col-6">
                                    <span>UUID</span>
                                    <input type="text" class="form-control" name="UUID"> <br>
                                </div>
                            </div>

                            <br><br>
                            <button type="submit" class="btn-outline-info btn-lg btn-block ">Generar Erogación</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



{{#section 'scripts'}}
<script>
    const cotizacion = {{{ json cotizaciones }}}
    $(document).ready(function () {

        // initialize datatable
        $('#cotizaciones').dataTable(
            {
                data: cotizacion,
                responsive: true,
                lengthChange: false,
                dom:
                    "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [

                    {
                        extend: 'pdfHtml5',
                        text: 'PDF',
                        titleAttr: 'Generate PDF',
                        className: 'btn-outline-danger btn-sm mr-1'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        titleAttr: 'Generate Excel',
                        className: 'btn-outline-success btn-sm mr-1'
                    },
                    {
                        extend: 'csvHtml5',
                        text: 'CSV',
                        titleAttr: 'Generate CSV',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'copyHtml5',
                        text: 'Copy',
                        titleAttr: 'Copy to clipboard',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'print',
                        text: 'Print',
                        titleAttr: 'Print Table',
                        className: 'btn-outline-primary btn-sm'
                    }
                ]
            });

    });


</script>
{{/section}}