<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300"><strong>Ver</strong> <i>Factura</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-originalbmnvxzcbhmgchdghjitle="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row text-center ">
                        <div class="col-12">
                            <h3 class="display-4">Ver Factura Privada</h3>
                        </div>
                    </div>
                        <div class="container">
                            <div class="row mt-3 mb-3">
                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Empresa</label><br>
                                    <select name="factura_empresa_id" id="" class="form-control" disabled>
                                        {{#each empresa}}
                                            <option value="{{id}}" {{#if (is ../prefactura.factura_empresa_id this.id)}} selected {{/if}}>{{nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Cliente</label><br>
                                    <select name="factura_cliente_id" id="" class="form-control" disabled>
                                        {{#each cliente}}
                                            <option value="{{cliente_id}}"  {{#if (is ../prefactura.factura_cliente_id this.cliente_id)}} selected {{/if}}>{{cliente_razon_social}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Descripción</label><br>
                                    <input class="form-control" type="text" name="factura_descripcion" placeholder="Descripción" value="{{prefactura.factura_descripcion}}" disabled>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Empleado que Documenta</label><br>
                                    <select name="factura_empleado_id" id="" class="form-control" disabled>
                                        <option value="{{session.userId}}" selected>{{session.username}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="row mt-3 mb-3">

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Inversion</label><br>
                                    <select name="factura_inversion_id" id="" class="form-control" disabled>
                                        {{#each inversion}}
                                        <option value="{{inversion_id}}"  {{#if (is ../prefactura.factura_inversion_id this.inversion_id)}} selected {{/if}}>{{inversion_clave}}</option>
                                        {{/each}}
                                    </select>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Sucursal</label><br>
                                    <select name="sucursal_id" id="" class="form-control" disabled>
                                        {{#each sucursal}}
                                        <option value="{{id}}" {{#if (is ../prefactura.factura_sucursal_id this.id)}} selected {{/if}}>{{nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Centro de Costo</label><br>
                                    <select name="factura_centrodecostos_id" id="" class="form-control" disabled>
                                        <option selected disabled value="">Seleccionar</option>
                                        {{#each centroCostos}}
                                        <option value="{{id}}" {{#if (is ../prefactura.factura_centrodecostos_id this.id)}} selected {{/if}}>{{nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3 text-center">
                                    <label for="" class="font-weight-bold">Proyecto / Razón Social</label><br>
                                    <select class="form-control" name="" id="" disabled>
                                        {{#each cotizacion}}
                                            <option {{#if (is ../prefactura.factura_proyecto_id this.cotizacion_id)}} selected {{/if}}>{{this.nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>



                            <div class="row mt-3 mb-3">

                                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                                    <label for="" class="font-weight-bold">Folio</label><br>
                                    <select name="factura_folio_id" id="" class="form-control" disabled>
                                        {{#each folios}}
                                            <option value="{{folio_id}}" {{#if (is ../prefactura.factura_folio_id this.folio_id)}} selected {{/if}}>{{folio_descripcion}}</option>
                                        {{/each}}
                                    </select>
                                </div>



                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Anticipo</label><br>
                                    <select name="factura_anticipo_id" id="" class="form-control" disabled>
                                        <option selected > </option>
                                        <option value="2" {{#if (is prefactura.factura_anticipo_id 2)}} selected {{/if}}>Anticipo</option>
                                    </select>
                                </div>



                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Factura / Remision</label><br>
                                    <select name="factura_remisionfactura_id" id="" class="form-control" disabled>
                                        <option disabled value="">Seleccionar</option>
                                        {{#each remision}}
                                            <option value="{{remisionfactura_id}}" {{#if (is ../prefactura.factura_remisionfactura_id this.remisionfactura_id)}} selected {{/if}}>{{remisionfactura_descripcion}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                            </div>

                            <div class="row mt-3 mb-3">

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Moneda</label><br>
                                    <select name="factura_moneda_id" id="" class="form-control" disabled>
                                        <optiondisabled value="">Seleccionar</optiondisabled>
                                        {{#each moneda}}
                                            <option value="{{moneda_id}}" {{#if (is ../prefactura.factura_moneda_id this.moneda_id)}} selected {{/if}}>{{moneda_descripcion}}</option>
                                        {{/each}}
                                    </select>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Tipo de Venta</label><br>
                                    <select name="tipo_venta" id="" class="form-control" disabled>
                                        <option disabled value="">Seleccionar</option>
                                        <option value="1" {{#if (is prefactura.tipo_venta 1)}} selected {{/if}}>POLIZA</option>
                                        <option value="2" {{#if (is prefactura.tipo_venta 2)}} selected {{/if}}>RENTA</option>
                                        <option value="3" {{#if (is prefactura.tipo_venta 3)}} selected {{/if}}>VENTA</option>
                                        <option value="4" {{#if (is prefactura.tipo_venta 4)}} selected {{/if}}>OBRA</option>
                                    </select>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Subtotal</label><br>
                                    <input class="form-control" step="0.01" type="text" name="factura_subtotal"
                                        id="subtotal" placeholder="Subtotal" value="{{prefactura.factura_subtotal}}" disabled>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">IVA</label><br>
                                    <input class="form-control" step="0.01" type="text" name="factura_iva" id="ivaa"
                                        placeholder="IVA" value="{{prefactura.factura_iva}}" disabled>
                                </div>

                            </div>

                            <div class="row mt-3 mb-3">

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Retención IVA</label><br>
                                    <input class="form-control " type="text" name="retencion" id="retencion"
                                        placeholder="Retención IVA" value="{{prefactura.retencion}}" disabled>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Retención ISR</label><br>
                                    <input class="form-control" type="text" name="retencion_isr" id=""
                                        placeholder="Retención ISR" value="{{prefactura.retension_isr}}" disabled>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">TOTAL</label><br>
                                    <input class="form-control" type="number" step="0.01" name="factura_total"
                                        id="total" placeholder="Total" value="{{prefactura.factura_total}}" disabled>
                                </div>

                            </div>


                            <div class="row mt-3 mb-3">

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Fecha Alta</label><br>
                                    <input class="form-control border border-primary" type="date"
                                        name="factura_fecha_alta" id="" value="{{prefactura.factura_fecha_alta}}" disabled>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Observaciones</label><br>
                                    <input class="form-control" type="text" name="factura_observaciones" id=""
                                        placeholder="Observaciones" value="{{prefactura.factura_observaciones}}" disabled>
                                </div>

                            </div>

                            <div class="row mt-3 mb-3">
                                <div class="col-md-4 col-sm-6 col-lg-4 mb-3">
                                    <label for="" class="font-weight-bold">UUID</label><br>
                                    <input class="form-control" type="text" name="uuid" id="" placeholder="UUID" value="{{prefactura.uuid}}" disabled>
                                </div>


                                <div class="col-md-4 col-sm-6 col-lg-4 mb-3">
                                    <label for="" class="font-weight-bold">Forma de Pago</label><br>
                                    <select name="forma_pago" id="" class="form-control" disabled>
                                        <option disabled value="">Seleccionar</option>
                                        {{#each pagos}}
                                            <option value="{{id}}" {{#if (is ../prefactura.forma_pago id)}} selected {{/if}}>{{descripcion}}</option>
                                        {{/each}}
                                    </select>
                                </div>


                                <div class="col-md-4 col-sm-12 col-lg-4 mb-1">
                                    <label for="" class="font-weight-bold">Credito de pago negociado</label><br>
                                    <input class="form-control" type="text" name="dias_credito" id=""
                                        placeholder="Crédito de Pago Negociado" value="{{prefactura.dias_credito}}" disabled>
                                </div>

                            </div>
                        </div>

                        <div class="container">
                            <div class="row mt-3 mb-3">
                                {{#if (is prefactura.factura_remisionfactura_id 1)}}
                                    <div class="col-md-4 col-sm-12 col-lg-4 mb-1">
                                        <button class="btn btn-outline-info" onclick="cancelFactura({{prefactura.factura_id}})">Cancelar factura</button>
                                    </div>
                                {{/if}}
                                <div class="col-md-4 col-sm-12 col-lg-4 mb-1">
                                    <a class="btn btn-outline-danger" href="/dashboard/administracion/facturas/ver/{{prefactura.factura_id}}">Ver PDF</a>
                                </div>
                                <div class="col-md-4 col-sm-12 col-lg-4 mb-1">
                                    <a href="{{xml}}" class="btn btn-outline-info">Descargar XML</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.5/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const cancelFactura = async (id) => {
            try {
                    const { value: formValues } = await Swal.fire({
                        title: 'Editar Marca',
                        html:
                            '<select id="swal-input1" class="swal2-input" required autofocus>' +
                            '<option value="01" >Comprobantes emitidos con errores con relación.</option>' +
                            '<option value="02" >Comprobantes emitidos con errores sin relación.</option>' +
                            '<option value="03" >No se llevó a cabo la operación.</option>' +
                            '<option value="04" >Operación nominativa relacionada en una factura global.</option>' +
                            '</select>',
                        focusConfirm: false,
                        preConfirm: () => {
                            const data = {
                                motivo: document.getElementById('swal-input1').value
                            }
                            axios.put(`/cancelFactura/${id}`, data)
                            .then((res) => {
                                if (res.data.status === 200) {
                                    Swal.fire({
                                        title: 'Factura cancelada',
                                        text: 'La factura se ha cancelado correctamente',
                                        icon: 'success',
                                        confirmButtonText: 'Aceptar'
                                    }).then(() => {
                                        window.location.reload();
                                    })
                                }
                            })
                            .catch((err) => {
                                console.log(err);
                                Swal.fire({
                                    title: 'Error',
                                    text: 'Ha ocurrido un error al cancelar la factura',
                                    icon: 'error',
                                    confirmButtonText: 'Aceptar'
                                })
                            })
                        }
                    })
            } catch (error) {
                console.log(error);
            }
        }
    </script>
{{/section}}