{{#section 'styles'}}
<style>
    .counter {
        text-align: center;
        font-weight: bold;
    }
    #accordion {
        width: 400px;
    }

    #accordion h3 {
        cursor: pointer;
        padding: 10px;
        background-color: #f0f0f0;
        border-bottom: 1px solid #ccc;
    }

    #accordion div {
        display: none;
        padding: 10px;
        background-color: #fdfdfd;
    }

    #accordion div.show {
        display: block;
    }
</style>
{{/section}}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Editar Proyecto <span class="fw-300"><i>DOTDCD - ERP</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">

                        <!-- Formulario  -->
                        <form class="form-group ccontainer" method="post" action="/updProyecto/{{p.cotizacion_id}}">
                            <label class="form-label col-12" for="simpleinput">
                                <h3 class="text-center">Editar Proyecto</h3>
                            </label><br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container"> <!-- sistema de niveles -->
                                        <div class="row">
                                            <div class="table rounded">
                                                <table class="table">
                                                    <thead class="rounded ">
                                                        <tr class="text-center">
                                                            <th colspan="4" class="text-center"  style="background-color:#425877; color:white;">
                                                                <h3 class="h3">Resumen</h3>
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr>
                                                            <th>Nombre del Proyecto</th>
                                                            <td>{{p.cotizacion_proyecto}}</td>
                                                            <th>Estatus</th>
                                                            <th>Fecha</th>
                                                        </tr>

                                                        <tr>
                                                            <th>Descripcion del Proyecto</th>
                                                            <td>{{p.cotizacion_descripcion}}</td>
                                                            <td>
                                                                <select name="" disabled
                                                                    style="background-color: #BEEDE8;"
                                                                    class="form-control" id="">
                                                                    <option value="0" {{#if (is
                                                                        p.cotizacion_autorizada_estatus 0)}} selected
                                                                        {{/if}}>Cotizada</option>
                                                                    <option value="1" {{#if (is
                                                                        p.cotizacion_autorizada_estatus 1)}} selected
                                                                        {{/if}}>Autorizada</option>
                                                                    <option value="2" {{#if (is
                                                                        p.cotizacion_autorizada_estatus 2)}} selected
                                                                        {{/if}}>Terminada</option>
                                                                    <option value="9" {{#if (is
                                                                        p.cotizacion_autorizada_estatus 9)}} selected
                                                                        {{/if}}>Poliza</option>
                                                                </select>
                                                            </td>
                                                            <td>{{p.cotizacion_fecha_alta}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Moneda</th>
                                                            <td><select  name="" class="form-control" disabled id=""
                                                                    style="background-color: #BEEDE8; color:black !important; width: 100%; height: 100%;">
                                                                    {{#each moneda}}
                                                                    <option value="{{moneda_id}}" {{#if
                                                                        (is../p.cotizacion_moneda_id moneda_id) }}
                                                                        selected {{/if}}>{{moneda_descripcion}}</option>
                                                                    {{/each}}
                                                                </select></td>
                                                            <td></td>

                                                            <td></td>
                                                        </tr>
                                                        <tr class="">

                                                            <td id="miBoton" class="text-center" colspan="4">
                                                                <h4 class="text-black">Observaciones</h4>
                                                                <textarea name="" id="" cols="30" rows="3" disabled
                                                                    class="form-control">{{p.cotizacion_observaciones}}</textarea>
                                                                
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                        <tr>
                                                            <th>% PF</th>
                                                            <th>IVA</th>
                                                            <th>% Descuento</th>
                                                            <th>Cantidad Descuento</th>
                                                        </tr>

                                                        <td id="txtpf">{{p.pf}}</td>
                                                        <td><select name="" class="form-control" disabled id=""
                                                                style="background-color: #BEEDE8; color:black !important; width: 100%; height: 100%;">
                                                                <option value="0" {{#if (is p.estimacion_iva 0
                                                                    estimacion_iva)}} selected {{/if}}>No</option>
                                                                <option value="1" {{#if (is p.estimacion_iva 1
                                                                    estimacion_iva)}} selected {{/if}}>Si</option>
                                                            </select></td>
                                                        <td><input type="text" id="descuento_porcentaje"
                                                                class="form-control"
                                                                type="number"
                                                                value="{{#if (is p.cotizacion_descuento_porcentaje 0)}} {{else}} {{p.cotizacion_descuento_porcentaje}} {{/if}}"
                                                                onKeyup="calculateDescuento(1)"></td>
                                                        <td><input type="text" id="descuento_cantidad"
                                                                class="form-control"
                                                                type="number"
                                                                value="{{#if (is p.cotizacion_descuento_porcentaje 0)}} {{else}} {{p.cotizacion_descuento_porcentaje}} {{/if}}"
                                                                onKeyup="calculateDescuento(2)"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                {{#if (is p.cotizacion_tipo_id 1)}}
                                    
                                                <table class="table" >
                                                    <tr style="background-color:#425877; color:white;">
                                                        <th>Acciones</th>
                                                        <th>Producto</th>
                                                        <th>Marca</th>
                                                        <th>Cantidad</th>
                                                        <th>Material</th>
                                                        <th>M.O.</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                    {{#each psimple.productos}}
                                                    <tr>
                                                        <td class="row"> <span class="col-sm-12 col-md-6"><button class="btn btn-danger btn-sm" type="button" onclick="dltInsumo({{insumo_orden}}, {{p.cotizacion_id}})"><i class="fal fa-light fa-trash-can"></i></button> </span> <span><button type="button" onclick="showEditServicioProduct({{insumo_orden}}, '{{producto_descripcion}}', {{insumo_cantidad}}, {{insumo_precio_mo}}, '{{marca_descripcion}}', '{{insumo_precio_ma}}' )" class="btn btn-sm btn-info"><i class="fal fa-light fa-pen-to-square"></i></button></span></td>
                                                        <td ><span>{{producto_descripcion}}</span> <br> <span> {{producto_modelo}}  </span> </td>
                                                        <td class="text-center">{{productos.marca_descripcion}}</td>
                                                        <td class="insumo_cantidad text-center">{{insumo_cantidad}}</td>
                                                        <td class="insumo_precio_ma text-center">{{insumo_precio_ma}}</td>
                                                        <td class="insumo_precio_mo text-center">{{insumo_precio_mo}}</td>
                                                        <td class="simpleSubtotal text-center"></td>
                                                    </tr>
                                                    {{/each}}
                                                    <tr class="text-center">
                                                       
                                                        <td></td>
                                                        <td></td>
                                                        <td>I.V.A.</td>
                                                        <td>TOTAL</td>
                                                        <td>Costo</td>
                                                        <td>% PF</td>
                                                        <td>Total general de la cotización</td>
                                                        
                                                    </tr>
                                                    <tr class="text-center">
                                                        
                                                        <td></td>
                                                        <td></td>
                                                        <td id="muestraIva"></td>
                                                        <td id="muestraTotalFinal" ></td>
                                                        <td id="costo">{{#if (is p.cotizacion_moneda_id 1)}} {{psimple.total}} {{else}} {{{isDolar psimple.total}}} {{/if}}</td>
                                                        <td id="pf">{{p.pf}}</td>
                                                        <td id="muestraTotal"></td>
                                                    </tr>
                                                    <tr class="justify-content-center text-align-center">
                                                        <td colspan="6">
                                                        <center><button type="button" onclick="showAddProductModal()" class="btn btn-info">Agregar Insumo</button> <button type="button" onclick="addServicio()" class="btn btn-warning">Agregar Servicio</button></center>
                                                        </td>
                                                    </tr>
                                                </table>
                                                {{/if}}

                                                {{#if (is p.cotizacion_tipo_id 2)}}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="accordion w-100 bg-success" id="insumosAccordion">
                                                            {{#each insumos}}
                                                            <div class="card">
                                                                <div class="card-header" id="heading{{@index}}">
                                                                    <h2 class="mb-0">
                                                                        <button class="btn btn-block btn-lg text-white"
                                                                            style="background-color: #5A9A5A;"
                                                                            type="button" data-toggle="collapse"
                                                                            data-target="#collapse{{@index}}"
                                                                            aria-expanded="true"
                                                                            aria-controls="collapse{{@index}}">
                                                                            {{diciplina_descripcion}}
                                                                        </button>
                                                                    </h2>
                                                                </div>

                                                                <div id="collapse{{@index}}" class="collapse"
                                                                    aria-labelledby="heading{{@index}}"
                                                                    data-parent="#insumosAccordion">
                                                                    <div class="card-body">
                                                                        <table class="table table-hover text-center">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Acciones</th>
                                                                                    <th>Producto</th>
                                                                                    <th>Marca</th>
                                                                                    <th>Cantidad</th>
                                                                                    <th>Material</th>
                                                                                    <td>Insumo Precio MA</td>
                                                                                    <th>Precio MO</th>
                                                                                    <th>Subtotal</th>
                                                                                    <th>Accion</th>
                                                                                </tr>

                                                                                <tr>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="table-bodyy" class="table-bodyy">
                                                                                {{#each insumos}}
                                                                                <tr>
                                                                                    <td> <button class="btn btn-danger"><i class="fal fa-light fa-trash-can"></i></button>   </td>
                                                                                    <td>{{producto}}</td>
                                                                                    <td>{{marca_descripcion}}</td>
                                                                                    <td>{{insumo_cantidad}}</td>
                                                                                    <td>{{tm_tipo}}</td>
                                                                                    <td>{{insumo_precio_ma}}</td>
                                                                                    <td>{{insumo_precio_mo}}</td>
                                                                                    <td id="subtotal">{{importe}}</td>

                                                                                    <td>
                                                                                        <div
                                                                                            class="d-flex justify-content-between">

                                                                                            <button
                                                                                                class="btn btn-circle btn-sm btn-secondary m-1">eliminar</button>

                                                                                        </div>

                                                                                    </td>

                                                                                </tr>
                                                                                {{/each}}
                                                                                <tr>
                                                                                    <td>Total</td>
                                                                                    <td id="total"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/if}}



                                                <!--

                                                <table class="table table-success text-center" id="productos">
                                                <tr>
                                                    <th>Producto</th>
                                                    <th>Marca</th>
                                                    <th>Cantidad</th>
                                                    <th>Material</th>
                                                    <th>M.O.</th>
                                                    <th>Subtotal</th>
                                                    <th>Acciones</th>
                                                    
                                                </tr>
                                                <tbody id="table-body">
                                                {{#each prodProyecto}}
                                                <tr>
                                                    <td>{{producto_descripcion}}</td>
                                                    <td>{{marca_descripcion}}</td>
                                                    <td>{{insumo_cantidad}}</td>
                                                    <td>{{tipo_material}}</td>
                                                    <td>{{producto_mo}}</td>
                                                    <td id="subtotal">{{producto_precio_tarjeta}}</td>
                                                    <td><button type="button" class="btn btn-danger remove-row-btn" onclick="calcularTotal()">Eliminar</button></td>
                                                </tr>
                                                {{/each}}
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td id="total"></td>
                                                    <td></td>

                                                </tr>
                                                </tbody>
                                               
                                                
                                                <tr>
                                                    <td><button id="add-row-btn" type="button" class="btn btn-primary">Agregar producto</button></td>

                                                </tr>
                                                
                                            </table>
                                             -->
                                            </div>
                                        </div>
                                    </div> <br><br>

















                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Cliente</span>
                                            <select name="cotizacion_cliente_id" class="form-control" id="">
                                                {{#each clientes}}
                                                <option value="{{cliente_id}}" {{#if (is../p.cotizacion_cliente_id
                                                    cliente_id) }} selected {{/if}}>{{cliente_razon_social}}</option>
                                                {{/each}}
                                            </select><br />

                                            <span>Contacto</span>
                                            <input type="text" id="simpleinput" class="form-control" placeholder=""
                                                name="cotizacion_contacto" value="{{p.cotizacion_contacto}}"><br />

                                            <span>Empleado</span>
                                            <select name="cotizacion_empleado_id" class="form-control" id="">
                                                {{#each empleados}}
                                                <option value="{{empleado_id}}" {{#if (is../p.cotizacion_empleado_id
                                                    empleado_id) }} selected {{/if}}>{{nombre_completo}}</option>
                                                {{/each}}
                                            </select><br />

                                            <span> Tipo de cotización</span>
                                            <select name="cotizacion_tipo_id" class="form-control" id="">
                                                {{#each clase}}
                                                <option value="{{cotizacion_tipo_id}}" {{#if (is../p.cotizacion_tipo_id
                                                    cotizacion_tipo_id) }} selected {{/if}}>
                                                    {{cotizacion_tipo_descripcion}}
                                                </option>
                                                {{/each}}
                                            </select><br />

                                            <span>Moneda</span>
                                            <select name="cotizacion_moneda_id" id="" class="form-control">
                                                {{#each moneda}}
                                                <option value="{{moneda_id}}" {{#if (is../p.cotizacion_moneda_id
                                                    moneda_id) }} selected {{/if}}>{{moneda_descripcion}}</option>
                                                {{/each}}
                                            </select><br />

                                            <span>IVA</span>
                                            <select name="estimacion_iva" disabled id="" class="form-control">
                                                <option value="0" {{#if (is p.estimacion_iva 0 estimacion_iva)}}
                                                    selected {{/if}}>No</option>
                                                <option value="1" {{#if (is p.estimacion_iva 1 estimacion_iva)}}
                                                    selected {{/if}}>Si</option>
                                            </select><br />

                                            <span>Empresa </span><!--Empresas loop-->
                                            <select name="cotizacion_empresa_id" id="" class="form-control">
                                                {{#each empresaa}}
                                                <option value="{{id}}" {{#if (is../p.cotizacion_empresa_id id) }}
                                                    selected {{/if}}>{{empresa_razon_social}}</option>
                                                {{/each}}
                                            </select><br />
                                        </div>
                                        <!--aqui se divide-->
                                        <div class="col-md-6">


                                            <span>Sucursal</span>
                                            <select name="sucursal_id" class="form-control" id="">
                                                {{#each sucursales}}
                                                <option value="{{sucursal_id}}" {{#if (is../p.sucursal_id sucursal_id)
                                                    }} selected {{/if}}>{{sucursal_nombre}}</option>
                                                {{/each}}
                                            </select><br />

                                            <span>Nombre del Proyecto</span>
                                            <input type="text" class="form-control" name="cotizacion_proyecto"
                                                value="{{p.cotizacion_proyecto}}"><br />

                                            <span>Descripcion</span>
                                            <input type="text" class="form-control" name="cotizacion_descripcion"
                                                value="{{p.cotizacion_descripcion}}"><br />

                                            <span>Ubicacion de la Obra</span>
                                            <input type="text" class="form-control" name="cotizacion_ubicacion"
                                                value="{{p.cotizacion_ubicacion}}"><br />

                                            <span>Condiciones Comerciales</span>
                                            <input type="text" class="form-control"
                                                name="cotizacion_condiciones_comerciales"
                                                value="{{p.cotizacion_condiciones_comerciales}}"><br />

                                            <span>Observaciones</span>
                                            <input id="miInput" type="text" class="form-control"
                                                name="cotizacion_observaciones"
                                                value="{{p.cotizacion_observaciones}}"><br />

                                            <span>Estatus</span>
                                            <select name="cotizacion_estatus_baja" class="form-control" id="">
                                                <option value="0" {{#if (is p.cotizacion_estatus_baja 0)}} selected
                                                    {{/if}}>
                                                    Activo</option>
                                                <option value="1" {{#if (is p.cotizacion_estatus_baja 1)}} selected
                                                    {{/if}}>
                                                    Inactivo</option>
                                            </select>
                                        </div>
                                    </div>
                                                 
                                    <br><br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-info btn-lg btn-block">Guardar</button>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/dashboard/operacion/proyectos/buscar"
                                                class="btn btn-danger btn-lg btn-block">Cancelar</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<table id="tabla" class="table table-striped">


</table>
<div id="contenido"></div>

{{#section 'scripts'}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>




function enviarPF() {
    const aidi = {{{json p.cotizacion_id}}};
    const totalElement = document.getElementById('muestraTotal').innerText;
    const total = parseFloat(totalElement.replace(/\$|,/g, ""));
    
    const costoElement = document.getElementById('costo');
    let costo = parseFloat(costoElement.innerText);

    const posicionF =( (total - costo) / costo * 100).toFixed(2);
    
    console.log(posicionF);
    console.log(costo);
    console.log(total);
    
    const posicionFElement = document.getElementById('pf');
    posicionFElement.innerHTML = '<span>% ' + posicionF + '</span>';

    axios.post('/addPF/' + aidi, { posicionF })
        .then(response => {
        console.log(response.data.message);
        })
        .catch(error => {
        console.error(error);
        });
    }

document.addEventListener('DOMContentLoaded', function() {
  enviarPF();
});






var moneda_cotizacion = {{{json p.cotizacion_moneda_id}}};

console.log(moneda_cotizacion + '111');

document.addEventListener("DOMContentLoaded", function() {
  muestraTotal();
});

function muestraTotal() {
    const filas = document.getElementsByClassName('simpleSubtotal');
  var total = 0;
  for (var i = 0; i < filas.length; i++) {
    var subtotal = parseFloat(filas[i].innerHTML.replace(/[^0-9.-]+/g,""));
    if (!isNaN(subtotal)) {
      total += subtotal;
    }
  }
  document.getElementById('muestraTotal').innerHTML = total.toFixed(2);

  //calcular el iva
  var iva = total * 0.16;
  document.getElementById('muestraIva').innerHTML = '$'+iva.toFixed(2) ;

    //calcular el total
    var total = total + iva;
    document.getElementById('muestraTotalFinal').innerHTML = '$'+total.toFixed(2) ;

    totalOrg = total;
    return total;
}



 function calcularTarjeta(precio ,producto_moo, icampoo, ioficinaa, hmm, financieroo, utilidadd, moneda, tarjetat) {
        console.log(precio)
        let producto_precio_tarjetaa
        let tarjeta

        if (moneda_cotizacion == 1){
            if (moneda == 1) {
                producto_precio_tarjetaa = tarjetat
                tarjeta = tarjetat
            } else {
                producto_precio_tarjetaa = tarjetat * 21
                tarjeta = tarjetat * 21
            }
        } else if (moneda_cotizacion == 2){
            if (moneda == 1) {
                producto_precio_tarjetaa = tarjetat / 21
                tarjeta = tarjetat / 21
            } else {
                producto_precio_tarjetaa = tarjetat
                tarjeta = tarjetat
            }
        }

        const Mcott = 2;

        const mo = (moneda_cotizacion == 1 ) ? (100 * 21) * producto_moo : (100) * producto_moo;
        const moneda_pesos = (moneda == 1) ? 1 : 21;
        const ventat = parseFloat(producto_precio_tarjetaa)
        
        const icampo = parseFloat(icampoo)
        const ioficina = parseFloat(ioficinaa)
        const hm = parseFloat(hmm)
        const financiero = parseFloat(financieroo)
        const utilidad = parseFloat(utilidadd)
        
        



        const v00 = roundToTwo(ventat);
        //? aqui el v01 calcula el Costo MO que esta en la tabla, pero no se como hacer para que se multiplique por la cantidad de jornadas
        const v01 = parseFloat(mo); // obtener total de tabla de jornadas
        const v02 = roundToTwo(((v00) + (v01)));
        const v10 = roundToTwo(0);
        const v11 = roundToTwo((v01 * hm) / 100);
        const v12 = roundToTwo((v10) + (v11));
        const v20 = roundToTwo((v00) + (v10));
        const v21 = roundToTwo((v01) + (v11));
        const v22 = roundToTwo((v20) + (v21));
        const v30 = roundToTwo((icampo * v20) / 100);
        const v31 = roundToTwo((icampo * v21) / 100);
        const v32 = roundToTwo(v30 + v31);
        const v40 = roundToTwo((ioficina * v20) / 100);
        const v41 = roundToTwo((ioficina * v21) / 100);
        const v42 = roundToTwo(v40 + v41);
        const v50 = roundToTwo(v30 + v40);
        const v51 = roundToTwo(v31 + v41);
        const v52 = roundToTwo(v50 + v51);
        const v50a = roundToTwo(v20 + v50); //71 10
        const v51a = roundToTwo(v21 + v51);
        const v52a = roundToTwo(v50a + v51a);
        const v60 = roundToTwo((v50a * financiero) / 100);
        const v61 = roundToTwo((v51a * financiero) / 100);
        const v62 = roundToTwo(v60 + v61);
        const v70 = roundToTwo(v50a + v60);
        const v71 = roundToTwo(v51a + v61);
        const v72 = roundToTwo(v70 + v71);

        const v80 = roundToTwo((v50a * utilidad) / 100);
        const v81 = roundToTwo((v51a * utilidad) / 100);
        const v82 = roundToTwo(v80 + v81);
        const v90 = roundToTwo(v70 + v80);
        const v91 = roundToTwo(v71 + v81);
        const v92 = roundToTwo(v90 + v91);
        console.log(v61);
        return {v90, v91, v92, v00, v62};
    }

function roundToTwo(value) {
        if (parseFloat(value) > 0) {
            return (Math.round(value * 100) / 100);
        } else {
            return 0.00;
        }
    }





    function showAddProductModal() {
    Swal.fire({
        title: 'Agregar Producto',
        html: `
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <label for="first-input">Nombre</label>
                        <input onkeyup="performAxiosCall();" id="first-input" class="form-control">

                        <label for="second-input">Marca</label>
                        <input id="second-input" class="form-control">

                        <label for="third-input">Materiales</label>
                        <input onkeyup="calcularModal()" id="third-input" class="form-control">

                        <label for="fourth-input">M. O.</label>
                        <input onkeyup="calcularModal()"  id="fourth-input" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="fifth-input">Cantidad</label>
                        <input onkeyup="calcularModal()" id="fifth-input" class="form-control">
                        <label for="sixth-input">Precio</label>
                        <input disabled id="sixth-input" class="form-control">
                        <label for="seventh-input">PF</label>
                        <input disabled id="seventh-input" class="form-control">
                        <label for="eighth-input">Total</label>
                        <input disabled id="eighth-input" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <label for="product-select">Seleccione un producto</label>
                    <select id="product-select" class="form-control">
                        <option value="">Seleccione un producto</option>
                    </select>
                </div>
            </div>
        `,
        showCancelButton: true,
        width: '50vw',
        confirmButtonText: 'Submit',
        preConfirm: () => {
            enviarData()
        }
    });
}


    let previousSearch = '';
    let previousResult = null;
    let timeout = null;

    function performAxiosCall() {
        const inputs = [
            document.getElementById('first-input'),
            document.getElementById('second-input'),
            document.getElementById('third-input'),
            document.getElementById('fourth-input'),
            document.getElementById('fifth-input')
        ];

        inputs.forEach(input => {
            input.addEventListener('keyup', () => {
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    const [firstInput, secondInput, thirdInput, fourthInput, fifthInput] = inputs.map(input => input.value);
                    const searchText = `${firstInput}`;
                    if (searchText === previousSearch) {
                        // Actualiza la lista select con los resultados de la búsqueda previa
                        updateSelect(previousResult);
                    } else {

                        
                        // Realiza la búsqueda en tiempo real usando Axios
                        axios.get(`/getProducto?searchText=${searchText}`)
                            .then(response => {
                                // Actualiza la lista select con los productos
                                previousResult = response.data[0];
                                previousSearch = searchText;
                                updateSelect(previousResult);
                            })
                            .catch(error => {
                                // Maneja el error aquí
                                console.error(error);
                            });
                    }
                }, 500);
            });
        });
    }


let datta = {}
function updateSelect(products) {

    const select = document.getElementById('product-select');

    select.innerHTML = '<option value="">Seleccione un producto</option>';

    products.forEach(product => {
        const option = document.createElement('option');
        option.value = product.producto_id;
        option.innerText = product.producto_modelo + ' - ' +product.producto_descripcion;
        select.appendChild(option);
    });         

    //onkeyup guardar el valor del input 5
    document.getElementById('fifth-input').addEventListener('keyup', event => {
        const quantity = parseFloat(document.getElementById('fifth-input').value);
        console.log(quantity);
    });

    //? onchange select


    select.addEventListener('change', event => {
        let selectedProduct = null;
        for (let i = 0; i < products.length; i++) {
        if (products[i].producto_id == event.target.value) {
            selectedProduct = products[i];
            break;
        }
        }
        console.log(selectedProduct)
        
        if (selectedProduct) {
            const precio = calcularTarjeta(selectedProduct.producto_precio_venta , selectedProduct.producto_mo, selectedProduct.producto_icampo, selectedProduct.producto_ioficina, selectedProduct.producto_hm, selectedProduct.producto_financiero, selectedProduct.producto_utilidad, selectedProduct.producto_moneda_id, selectedProduct.producto_precio_tarjeta);
            
            document.getElementById('first-input').value = selectedProduct.producto_descripcion;
            document.getElementById('second-input').value = selectedProduct.marca_descripcion;
            document.getElementById('third-input').value = precio.v90;
            document.getElementById('fourth-input').value = precio.v91;
            document.getElementById('fifth-input').value = 1;
            document.getElementById('sixth-input').value = precio.v92;
            //document.getElementById('seventh-input').value = precio.v62;
            const totalo = (parseFloat(document.getElementById('fifth-input').value) * parseFloat(document.getElementById('sixth-input').value));
            document.getElementById('eighth-input').value = totalo;
            // Crea el objeto con los datos a enviar
            const data = {
                cotizacion_id: {{p.cotizacion_id}},
                disciplina_id: selectedProduct.producto_familia_id,
                    //orden de compra numero incrementable
                producto: selectedProduct.producto_id,
                descripcion: selectedProduct.producto_descripcion, // no se necesita pero aqui esta xd 
                marca: selectedProduct.producto_marca_id,
                ma: precio.v90,
                mo: precio.v91,
                cantidad: document.getElementById('fifth-input').value,
                precio: precio.v92,
                financiero: selectedProduct.producto_financiero,
                total: totalo,
                tarjeta_producto_mo: selectedProduct.producto_mo, 
                tarjeta_producto_icampo: selectedProduct.producto_icampo, 
                tarjeta_producto_ioficina :selectedProduct.producto_ioficina, 
                tarjeta_producto_hm: selectedProduct.producto_hm, 
                tarjeta_producto_financiero :selectedProduct.producto_financiero,
                tarjeta_producto_utilidad:selectedProduct.producto_utilidad
            
            };
            
            llenarObjeto(data)
            calcularModal(selectedProduct.producto_costo, selectedProduct.producto_moneda_id)
            
        }
    });
}


function llenarObjeto(data){
    datta = data
    
    return datta
}

function enviarData() {
  
    datta.cantidad = parseFloat(document.getElementById('fifth-input').value);
    datta.total = parseFloat(document.getElementById('eighth-input').value);
    
    axios.post('/addProductToProject', datta)
        .then(response => {
            // Maneja la respuesta aquí
            location.reload();
        })
        .catch(error => {
            // Maneja el error aquí
            console.error(error);
        });
}

function calcularModal(pcosto, moneda) {
    const ma = parseFloat(document.getElementById('third-input').value);
    const mo = parseFloat(document.getElementById('fourth-input').value);

    const Cantidad = parseFloat(document.getElementById('fifth-input').value);

    let pc

    if (moneda_cotizacion == 1){
        pc = (moneda == 1) ? pcosto : pcosto * 21;
    } else if (moneda_cotizacion == 2){
        pc = (moneda == 1) ? pcosto / 21 : pcosto;
    }

    const precio = ma + mo;
    const total = precio * Cantidad;
    

    
    const pf =  (ma - pc) / pc * 100;
    
    document.getElementById("seventh-input").value = pf.toFixed(2);
    //document.getElementById('seventh-input').value = precio.toFixed(2);
    document.getElementById('eighth-input').value = total.toFixed(2);

    
}




//? funcion para agregar servicio
function addServicio() {
  var fechaActual = getCurrentDateSQL();
  Swal.fire({
    title: 'Agregar Servicio',
    html: `
      <div class="container">
        <div class="row">
          <div class="col-6">
            <input type="text" hidden class="form-control">
            <label for="first-input">Descripcion</label>
            <input id="first-input" class="form-control mb-2">
            <label for="second-input">Cantidad</label>
            <input id="second-input" class="form-control" onkeyup="formcalculate()">
          </div>
          <div class="col-6">
            <label for="third-input">Precio</label>
            <input id="third-input" class="form-control mb-2"  onkeyup="formcalculate()">
            <label for="fourth-input">total</label>
            <input id="fourth-input" class="form-control" >
          </div>
        </div>
      </div>
    `,
    showCancelButton: true,
    confirmButtonText: 'Agregar',
    preConfirm: () => {
      return [
        document.getElementById('first-input').value,
        document.getElementById('second-input').value,
        document.getElementById('third-input').value,
        document.getElementById('fourth-input').value
      ]
    }
  }).then((result) => {
    if (result.isConfirmed) {
      axios.post('/addServicio', {
        "producto_codigo": "SERVICIO",
        "producto_modelo": "SERVICIO",
        "producto_marca_id": "102",
        "producto_unidad_id": 20,
        "producto_tipo_id": 3,
        "producto_familia_id": 11,
        "producto_serie_id": 1,
        "producto_costo": 0,
        "producto_costo_fecha": fechaActual,
        "producto_mo": 0,
        "producto_icampo": 0,
        "producto_ioficina": 0,
        "producto_hm": 0,
        "producto_financiero": 0,
        "producto_utilidad": 0,
        producto_descripcion: result.value[0],
        producto_precio_tarjeta: result.value[3],
        producto_precio_venta: result.value[3],
        producto_marca_id: 102,
        cantidad: result.value[1],
        total: result.value[4],
        insumo_cotizacion_id: {{p.cotizacion_id}}
      })
        .then(response => {
          location.reload();
        })
        .catch(function (error) {
          Swal.fire({
                            title: 'Error al agregar servicio',
                            text: 'Ha ocurrido un error al agregar el servicio, por favor intenta de nuevo'
                        })
                    }
                );
            }
        }
    )
}

function formcalculate() {
    var cantidad = document.getElementById("second-input").value;
    var precio = document.getElementById("third-input").value;
    var total = cantidad * precio;
    document.getElementById("fourth-input").value = total.toFixed(2);
}

    //funcion fecha actual
function getCurrentDateSQL() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    return today;
}








    
     // Función para calcular subtotal de insumo para cotización simple
function calcularSubtotal() {
  // Obtener todas las filas de la tabla
  var filas = document.querySelectorAll("tr");

  // Inicializar el total en 0
  var total = 0;

  // Iterar sobre cada fila
  filas.forEach(function(fila) {
    // Obtener las celdas de cada fila
    var celdas = fila.querySelectorAll("td");
    // Verificar si la fila tiene las celdas necesarias
    if (celdas.length >= 6) {
      // Obtener los valores de cantidad, ma y mo
      var cantidad = parseInt(celdas[3].innerText);
      var ma = parseFloat(celdas[4].innerText);
      var mo = parseFloat(celdas[5].innerText);
      // Verificar que los valores sean numéricos
      if (isNaN(cantidad) || isNaN(ma) || isNaN(mo)) {
        return;
      }
      // Si el precio de ma es vacío, o igual a 0, entonces hacer la suma sin la multiplicación de ma
      if (ma == 0 || ma == null || isNaN(ma)) {
        var subtotal = cantidad * (ma + mo);
      } else {
        // Si el precio de ma no es vacío, entonces hacer la suma con la multiplicación de ma
        var subtotal = cantidad * (ma + mo);
      }
      // Dar formato de moneda al resultado de subtotal
      celdas[6].innerText = "$" + subtotal.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');
      // Sumar el subtotal al total
      total += subtotal;
    }
});

// Dar formato de moneda al total
var celdaTotal1 = document.getElementById("muestraTotal");
    celdaTotal1.innerText = "$" + total.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');
}



addEventListener("load", calcularSubtotal);
for (var i = 0; i < 5; i++) {
    calcularSubtotal()
}

const dltInsumo = async(id) => {
    try {
        axios.post('/deleteInsumo/' + id)
            .then(response => {
                location.reload();
            })
            .catch(function (error) {
                Swal.fire({
                title: 'Error al eliminar insumo',
                text: 'Ha ocurrido un error al eliminar el insumo, por favor intenta de nuevo'
                })
            });
    } catch (error) {
        console.log(error);
    }
}

let totalOrg = calcularSubtotal(); 
    
    function calculateDescuento(op) {
        // Get the cell element by its ID
        var muestraTotalCell = document.getElementById("muestraTotal");
        var muestraTotalText = muestraTotalCell.textContent;
        var muestraTotalNumeric = muestraTotalText.replace("$", "").replace(",", "");
        var muestraTotalValue = parseFloat(muestraTotalNumeric);
        const descuentoPorcentaje = document.getElementById("descuento_porcentaje").value;
        const descuentoCantidad = document.getElementById("descuento_cantidad").value;
            
        if (!descuentoPorcentaje || !descuentoCantidad) {
            document.getElementById("descuento_porcentaje").value = 0;
            document.getElementById("descuento_cantidad").value = 0;
            calcularSubtotal();
        }

        if(op == 1){
            const descuento = document.getElementById("descuento_porcentaje").value;
            if(isNaN(descuento)){
                calcularSubtotal();
                return;
            }
            const porcentaje = parseFloat(descuento) / 100
            const rebaje = muestraTotalValue * porcentaje;
            const total = muestraTotalValue - (muestraTotalValue * porcentaje);
            if(isNaN(total) || isNaN(rebaje) || rebaje === 0){
                calcularSubtotal();
                return;
            }

            document.getElementById("muestraTotal").innerHTML = total.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');;
            document.getElementById("descuento_cantidad").value = rebaje.toFixed(2);
        } else if (op == 2) {
            const descuento = document.getElementById("descuento_cantidad").value;
            if(isNaN(descuento)){
                calcularSubtotal();
                return;
            }
            const porcentaje = (descuento / muestraTotalValue) * 100;
            const total = muestraTotalValue - descuento
            if(isNaN(total) || isNaN(porcentaje)){
                calcularSubtotal();
                return;
            }
            if(total < 0){
                calcularSubtotal();
                return;
            }
            document.getElementById("muestraTotal").innerHTML = total.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');;
            document.getElementById("descuento_porcentaje").value = porcentaje.toFixed(2);}
    }

    








//? Editar Servicio
function showEditServicioProduct(orden, nombre, cantidad, precio, marca, material) {
    Swal.fire({
        title: 'Agregar Producto',
        html: `
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <label for="first-input">Nombre</label>
                        <input id="first-input"  class="form-control" disabled value="${nombre}">   
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 mb-4">
                        <label for="fourth-input">M. O.</label>
                        <input  value="${precio}"  id="fourth-input" class="form-control" ${marca !== 'dotdcd' ? 'disabled' : ''}>
                    </div>
                    <div class="col-4 mb-4">
                        <label for="third-input">Materiales</label>
                        <input  id="third-input" value="${material}" disabled class="form-control">

                        
                    </div>
                    <div class="col-4">
                        <label for="fifth-input">Cantidad</label>
                        <input  id="fifth-input" class="form-control" value="${cantidad}">
                    </div>
                </div>
                
            </div>
        `,
        showCancelButton: true,
        width: '50vw',
        confirmButtonText: 'Submit',
        preConfirm: () => {
            if(marca == 'dotdcd'){
                axios.put('/updServiceToProject/' + orden, {
                     insumo_cantidad: document.getElementById('fifth-input').value,
                     insumo_precio_mo: document.getElementById('fourth-input').value
                })
                .then(response => {
                    location.reload();
                })
                .catch(function (error) {
                    Swal.fire({
                    title: 'Error al actualizar servicio',
                    text: 'Ha ocurrido un error al actualizar el servicio, por favor intenta de nuevo'
                    })
                });
            } else {
                axios.put('/updProductToProject/' + orden, {
                    insumo_cantidad: document.getElementById('fifth-input').value
                })
                .then(response => {
                    location.reload();
                })
                .catch(function (error) {
                    Swal.fire({
                    title: 'Error al actualizar servicio',
                    text: 'Ha ocurrido un error al actualizar el servicio, por favor intenta de nuevo'
                    })
                });
            }
        }
    });
}


</script>
{{/section}}