{{#section 'head'}}
<style>

/*Form loader*/
.formloader {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: #006eff;
  animation: fill 1s ease-in infinite alternate;
}
.formloader::before , .formloader::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.formloader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}

@keyframes fill {
 0% {  box-shadow: 0 0 0 2px inset }
 100%{ box-shadow: 0 0 0 10px inset }
}

.btn-link:hover {
    text-decoration: none;
}

.btn-link:hover span {
    color: #0084ff;
}

.btn-icon:hover {
    text-decoration: none;
    color: #008cff;
}

.btn-link:focus, .btn-link:hover {
    text-decoration: none;
}

.table-custom {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.table-custom th {
  background-color: #343a40;
  color: #fff;
  font-weight: bold;
  text-align: left;
  padding: 12px;
}

.table-custom td {
  border: 1px solid #dee2e6;
  padding: 12px;
}

.table-custom tr:nth-child(even) {
  background-color: #e2e3e5;
}

.table-custom .additional {
  font-weight: bold;
  text-transform: uppercase;
}

      
    
</style>
{{/section}}

<div class="row">
    
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Editar Proyecto | {{p.cotizacion_id}} - {{p.cotizacion_proyecto}} |<span class="fw-300"><i>DOTDCD - ERP</i> </span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">
                        
                        <!-- Formulario  -->
                        <form id="formm" class="form-group ccontainer" method="post" action="/updProyecto/{{p.cotizacion_id}}">
                            <label class="form-label col-12" for="simpleinput">
                                <h3 class="text-center">Editar Proyecto</h3>
                            </label><br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container"> <!-- sistema de niveles -->
                                        <div class="row">
                                            <div class="table rounded">
                                                {{#if (is p.cotizacion_tipo_id 1)}} 
                                                <table class="table" >
                                                    <tr style="background-image: -webkit-gradient(linear, right top, left top, from(rgba(46, 182, 151, .18)), to(transparent));background-image: linear-gradient(270deg, rgba(46, 182, 151, .18), transparent);background-color: #445175;color: #fff;">
                                                        <th>Acciones</th>
                                                        <th>Producto</th>
                                                        <th>Marca</th>
                                                        <th>Cantidad</th>
                                                        <th>Material</th>
                                                        <th>M.O.</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                    {{#each psimple.productos}}
                                                    <tr>
                                                        <td class="row"> <span class="col-sm-12 col-md-6"><button class="btn btn-danger btn-sm" type="button" onclick="dltInsumo({{insumo_orden}}, {{p.cotizacion_id}})"><i class="fal fa-light fa-trash-can"></i></button> </span> <span><button type="button" onclick="showEditServicioProduct({{insumo_orden}}, '{{producto_descripcion}}', {{insumo_cantidad}}, {{insumo_precio_mo}}, '{{marca_descripcion}}', '{{insumo_precio_ma}}' )" class="btn btn-sm btn-info"><i class="fal fa-light fa-pen-to-square"></i></button></span></td>
                                                        <td ><span>{{producto_descripcion}}</span> <br> <span> {{producto_modelo}}  </span> </td>
                                                        <td class="text-center">{{marca_descripcion}}</td>
                                                        <td class="insumo_cantidad text-center">{{insumo_cantidad}}</td>
                                                        <td class="insumo_precio_ma text-center"> $
                                                        {{#if (is ../p.cotizacion_moneda_id 1 )}} 
                                                            {{#if (is producto_moneda_id 1)}} 
                                                                {{{insumo_precio_ma}}} 
                                                            {{else}} 
                                                                {{{isPesos insumo_precio_ma}}} 
                                                            {{/if}}
                                                        {{else}} 
                                                            {{#if (is producto_moneda_id 2)}} 
                                                                {{{insumo_precio_ma}}} 
                                                            {{else}} 
                                                                {{{isDolar insumo_precio_ma}}} 
                                                            {{/if}}
                                                        {{/if}}
                                                        </td>
                                                        <td class="insumo_precio_mo text-center">$ {{insumo_precio_mo}}</td>
                                                        <td class="simpleSubtotal text-center">$</td>
                                                    </tr>
                                                    {{/each}}
                                                    <tr class="text-center">
                                                        <td></td>
                                                        <td></td>
                                                        <td>% PF</td>
                                                        <td>Costo</td>
                                                        <td>Subtotal</td>
                                                        <td>I.V.A.</td>
                                                        <td>TOTAL</td>
                                                    </tr>
                                                    <tr class="text-center">
                                                        <td></td>
                                                        <td></td>
                                                        <td id="pf">{{p.pf}}</td>
                                                        <td id="costo">${{#if (is p.cotizacion_moneda_id 1)}}{{{isMoney psimple.total}}}{{else}}{{{isDolar psimple.total}}}{{/if}}</td>
                                                        <td id="muestraTotal"></td>
                                                        <td id="muestraIva"></td>
                                                        <td id="totalIVA" ></td>
                                                    </tr>
                                                    <tr class="justify-content-center text-align-center">
                                                        <td colspan="6">
                                                        <center><button type="button" onclick="showAddProductModal()" class="btn btn-info">Agregar Insumo</button> <button type="button" onclick="addServicio()" class="btn btn-warning">Agregar Servicio</button></center>
                                                        </td>
                                                    </tr>
                                                </table>
                                                {{/if}}

                                            </div>
                                        </div>
                                    </div> <br><br>





                                </div>
                            </div>
                            {{#if (is p.cotizacion_tipo_id 2)}}



                                                    <div class="col-md-12" style="width: 100%;">
                                                        <div class="accordion w-100" id="insumosAccordion">
                                                            {{#each insumos}}
                                                            <div class="card mb-2">
                                                                <div class="card-header" id="heading{{@index}}">
                                                                    <h2 class="mb-0" style="background-color: #f5f5f5; border-radius: 5px; border-bottom: 1px solid blue;">
                                                                        <button class="btn btn-link btn-icon w-100 text-left p-3" type="button" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
                                                                            <i class="fas fa-book fa-lg mr-2"></i>
                                                                            <span style="font-size: 1.2rem; font-weight: bold;">{{diciplina_descripcion}}</span>
                                                                            <span class="float-right">
                                                                                <i class="fas fa-angle-down"></i>
                                                                            </span>
                                                                        </button>
                                                                    </h2>



                                                                </div>

                                                                <div id="collapse{{@index}}" class="collapse"
                                                                    aria-labelledby="heading{{@index}}"
                                                                    data-parent="#insumosAccordion">
                                                                    <div class="card-body">
                                                                        
                                                                        {{#each ../niveles}}
                                                                            <div class="card nivel {{{accordionN nivel_id ../insumos}}}">
                                                                                <div class="card-header" id="heading{{@index}}-{{@index}}">
                                                                                    <h2 class="mb-0" style="padding: 10px;">
                                                                                        <button class="btn btn-block btn-lg text-white align-items-center" style="background-color: rgba(68, 81, 117, 0.9); text-align: left;" type="button" data-toggle="collapse" data-target="#collapse{{@index}}-{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}-{{@index}}">
                                                                                            <i class="fas fa-building mr-2"></i>{{nivel_descripcion}}
                                                                                            <i class="fas fa-angle-down float-right"></i>
                                                                                        </button>
                                                                                    </h2>
                                                                                </div>
                                                                                <div class="collapse" id="collapse{{@index}}-{{@index}}" aria-labelledby="heading{{@index}}-{{@index}}">
                                                                                    <div class="card-body">
                                                                                        <table class="table">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th>Producto</th>
                                                                                                    <th>Marca</th>
                                                                                                    <th>Cantidad</th>
                                                                                                    <th>Precio Unitario</th>
                                                                                                    <th>Precio MO</th>
                                                                                                    <th>Subtotal</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                              {{#each ../insumos}}
                                                                                                    {{#if (is insumo_nivel_id ../nivel_id)}}
                                                                                                        {{#if (is insumo_tipo_id 0 )}}
                                                                                                            <tr>
                                                                                                                <td class="additional">{{producto}}</td>
                                                                                                                <td></td>
                                                                                                                <td></td>
                                                                                                                <td></td>
                                                                                                                <td></td>
                                                                                                                <td>$</td>               
                                                                                                            </tr>
                                                                                                        {{/if}}
                                                                                                    {{/if}}
                                                                                                {{/each}}
                                                                                            </tbody>
                                                                                        </table>
                                                                                        {{#each ../../tipos}}
                                                                                            <div class="card mb-3 {{{accordionSub ../../insumos ../nivel_id tipo_id}}}">
                                                                                                <div class="card-header" id="heading{{@index}}-{{@index}}-{{@index}}">
                                                                                                    <h2 class="mb-0">
                                                                                                        <button class="btn btn-block btn-lg text-white" style="background-color: rgba(16, 70, 130, 0.7); box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); border-radius: 8px; text-align: left;" type="button" data-toggle="collapse" data-target="#collapse{{@index}}-{{@index}}-{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}-{{@index}}-{{@index}}">
                                                                                                            <i class="fas fa-layer-group" style="margin-right: 10px;"></i>
                                                                                                            <span style="display:inline-block; width: 90%;">{{tipo_descripcion}}</span>
                                                                                                            <span style="float:right;"><i class="fas fa-chevron-down"></i></span>
                                                                                                        </button>
                                                                                                    </h2>






                                                                                                </div>
                                                                                                <div class="collapse" id="collapse{{@index}}-{{@index}}-{{@index}}" aria-labelledby="heading{{@index}}-{{@index}}-{{@index}}">
                                                                                                    <table class="table tabla-custom">
                                                                                                        <thead>
                                                                                                            <tr>
                                                                                                                <th>Producto</th>
                                                                                                                <th>Marca</th>
                                                                                                                <th>Cantidad</th>
                                                                                                                <th>Precio Unitario</th>
                                                                                                                <th>Precio MO</th>
                                                                                                                <th>Subtotal</th>
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                        <tbody>
                                                                                                            {{#each ../../insumos}}
                                                                                                                {{#if (isTwo insumo_tipo_id ../tipo_id insumo_nivel_id ../../nivel_id )}}
                                                                                                                    <tr>
                                                                                                                        <td class="additional">{{producto}}</td>
                                                                                                                        <td></td>
                                                                                                                        <td></td>
                                                                                                                        <td></td>
                                                                                                                        <td></td>
                                                                                                                        <td>$</td>               
                                                                                                                    </tr>
                                                                                                                {{/if}}
                                                                                                            {{/each}}
                                                                                                        </tbody>
                                                                                                    </table>

                                                                                                </div>
                                                                                            </div>
                                                                                        {{/each}}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        {{/each}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {{/each}}
                                                        </div>

                                                {{/if}} 
                            <table class="table">
                                <thead class="rounded ">
                                    <tr class="text-center">
                                        <th colspan="4" class="text-center" style="background-image: -webkit-gradient(linear, right top, left top, from(rgba(46, 182, 151, .18)), to(transparent));background-image: linear-gradient(270deg, rgba(46, 182, 151, .18), transparent);background-color: #445175;color: #fff;" >
                                            <h3 class="h3">Resumen</h3>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <th>Nombre del Proyecto</th>
                                        <td>{{p.cotizacion_proyecto}}</td>
                                        <th>Estatus</th>
                                        <th>Fecha</th>
                                    </tr>

                                    <tr>
                                        <th>Descripcion del Proyecto</th>
                                        <td>{{p.cotizacion_descripcion}}</td>
                                        <td>
                                            <select name="" disabled
                                                style=" -webkit-appearance: none;
                                                -moz-appearance: none;
                                                text-indent: 1px;
                                                text-overflow: '';"
                                                class="form-control no-arrow" id="">
                                                <option value="0" {{#if (is
                                                    p.cotizacion_autorizada_estatus 0)}} selected
                                                    {{/if}}>Cotizada</option>
                                                <option value="1" {{#if (is
                                                    p.cotizacion_autorizada_estatus 1)}} selected
                                                    {{/if}}>Autorizada</option>
                                                <option value="2" {{#if (is
                                                    p.cotizacion_autorizada_estatus 2)}} selected
                                                    {{/if}}>Terminada</option>
                                                <option value="9" {{#if (is
                                                    p.cotizacion_autorizada_estatus 9)}} selected
                                                    {{/if}}>Poliza</option>
                                            </select>
                                        </td>
                                        <td>{{p.cotizacion_fecha_alta}}</td>
                                    </tr>
                                    <tr>
                                        <th>Moneda</th>
                                        <td><select  name="" class="form-control no-arrow" disabled id=""
                                                style=" -webkit-appearance: none;
                                                -moz-appearance: none;
                                                text-indent: 1px;
                                                text-overflow: '';">
                                                {{#each moneda}}
                                                <option value="{{moneda_id}}" {{#if
                                                    (is../p.cotizacion_moneda_id moneda_id) }}
                                                    selected {{/if}}>{{moneda_descripcion}}</option>
                                                {{/each}}
                                            </select></td>
                                        <td></td>

                                        <td></td>
                                    </tr>
                                    <tr class="">

                                        <td id="miBoton" class="text-center" colspan="4">
                                            <h4 class="text-black">Observaciones</h4>

                                                                
                                        <textarea name="cotizacion_observaciones" id="" cols="30" rows="3"  class="form-control text-center pt-4" style="resize: none; min-height: 90px; max-height: 90px;">{{p.cotizacion_observaciones}}</textarea>
                                                                
                                        <button class="btn btn-sm btn-info mt-3" type="submit">Actualizar observacion</button>
                                                                
                                        </td>

                                    </tr>
                                    <tr>
                                    <tr>
                                        <th>% PF</th>
                                        <th>IVA</th>
                                        <th>% Descuento</th>
                                        <th>Cantidad Descuento</th>
                                    </tr>

                                    <td id="txtpf">{{p.pf}}</td>
                                    <td><select name="" class="form-control" disabled id=""
                                           style=" -webkit-appearance: none;
                                                -moz-appearance: none;
                                                text-indent: 1px;
                                                text-overflow: '';"
                                            <option value="0" {{#if (is p.estimacion_iva 0
                                                estimacion_iva)}} selected {{/if}}>No</option>
                                            <option value="1" {{#if (is p.estimacion_iva 1
                                                estimacion_iva)}} selected {{/if}}>Si</option>
                                        </select></td>
                                    <td><input type="text" id="descuento_porcentaje"
                                            class="form-control"
                                            type="number"
                                            value="{{#if (is p.cotizacion_descuento_porcentaje 0)}} {{else}} {{p.cotizacion_descuento_porcentaje}} {{/if}}"
                                            onChange="calculateDescuento(1)"></td>
                                    <td><input type="text" id="descuento_cantidad"
                                            class="form-control"
                                            type="number"
                                            value=""
                                            onchange="calculateDescuento(2)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<table id="tabla" class="table table-striped">


</table>
<div id="contenido"></div>

{{#section 'scripts'}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/loader.js"></script>

<script>

//! 28 de febrero 2023, a angel le compraron juguetes nuevos
//! seguimos sin el parche del aumento de sueldo
{{#if (is p.cotizacion_tipo_id 1)}}
function enviarPF() {
    const aidi = {{{json p.cotizacion_id}}};
    const totalElement = document.getElementById('muestraTotal').innerText;
    const total = parseFloat(totalElement.replace(/\$|,/g, ""));
    const trueTotal = total + (total * 0.16)
    const costoElement = document.getElementById('costo').innerText;
    let costo = parseFloat(costoElement.replace(/\$|,/g, ""));


    //console.log(totalElement + 'total');
    //console.log(costo + 'costo');
   


    let posicionF;
    if (costo === 0) {
        posicionF = 0;
    } else {
        posicionF = (((costo / trueTotal) - 1) * -100).toFixed(2);
    }

    if(costo === 0){
        posicionF = 100;
    }

    if(costo === 0 && total === 0){
        posicionF = 0;
    }
    
    
    const posicionFElement = document.getElementById('pf');
    posicionFElement.innerHTML = '<span>% ' + posicionF + '</span>';
    axios.post('/addPF/' + aidi, { posicionF })
        .then(response => {
        console.log(response.data.message);
        })
        .catch(error => {
        console.error(error);
        });
}

document.addEventListener('DOMContentLoaded', function() {
    enviarPF();
    muestraTotal();

    
});







var moneda_cotizacion = {{{json p.cotizacion_moneda_id}}};



function muestraTotal() {
    const desc = {{{json p.cotizacion_descuento_porcentaje}}};
    const filas = document.getElementsByClassName('simpleSubtotal');
  var total = 0;
  for (var i = 0; i < filas.length; i++) {
    var subtotal = parseFloat(filas[i].innerHTML.replace(/[^0-9.-]+/g,""));
    if (!isNaN(subtotal)) {
      total += subtotal;
    }
  }

  if(desc != 0){
    total = total - (total * (desc / 100));
  }
  document.getElementById('muestraTotal').innerHTML = "$" + total.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');

  //calcular el iva
  var iva = total * 0.16;
  document.getElementById('muestraIva').innerHTML = '$'+iva.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');

    //calcular el total
    var total = total + iva;
    document.getElementById('totalIVA').innerHTML = '$'+total.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');

    totalOrg = total;
    return total;
}



 function calcularTarjeta(precio ,producto_moo, icampoo, ioficinaa, hmm, financieroo, utilidadd, moneda, tarjetat) {
        //console.log(precio)
        let producto_precio_tarjetaa
        let tarjeta

        if (moneda_cotizacion == 1){
            if (moneda == 1) {
                producto_precio_tarjetaa = tarjetat
                tarjeta = tarjetat
            } else {
                producto_precio_tarjetaa = tarjetat * 21
                tarjeta = tarjetat * 21
            }
        } else if (moneda_cotizacion == 2){
            if (moneda == 1) {
                producto_precio_tarjetaa = tarjetat / 21
                tarjeta = tarjetat / 21
            } else {
                producto_precio_tarjetaa = tarjetat
                tarjeta = tarjetat
            }
        }

        const Mcott = 2;

        const mo = (moneda_cotizacion == 1 ) ? (100 * 21) * producto_moo : (100) * producto_moo;
        const moneda_pesos = (moneda == 1) ? 1 : 21;
        const ventat = parseFloat(producto_precio_tarjetaa)
        
        const icampo = parseFloat(icampoo)
        const ioficina = parseFloat(ioficinaa)
        const hm = parseFloat(hmm)
        const financiero = parseFloat(financieroo)
        const utilidad = parseFloat(utilidadd)
        
        



        const v00 = roundToTwo(ventat);
        //? aqui el v01 calcula el Costo MO que esta en la tabla, pero no se como hacer para que se multiplique por la cantidad de jornadas
        const v01 = parseFloat(mo); // obtener total de tabla de jornadas
        const v02 = roundToTwo(((v00) + (v01)));
        const v10 = roundToTwo(0);
        const v11 = roundToTwo((v01 * hm) / 100);
        const v12 = roundToTwo((v10) + (v11));
        const v20 = roundToTwo((v00) + (v10));
        const v21 = roundToTwo((v01) + (v11));
        const v22 = roundToTwo((v20) + (v21));
        const v30 = roundToTwo((icampo * v20) / 100);
        const v31 = roundToTwo((icampo * v21) / 100);
        const v32 = roundToTwo(v30 + v31);
        const v40 = roundToTwo((ioficina * v20) / 100);
        const v41 = roundToTwo((ioficina * v21) / 100);
        const v42 = roundToTwo(v40 + v41);
        const v50 = roundToTwo(v30 + v40);
        const v51 = roundToTwo(v31 + v41);
        const v52 = roundToTwo(v50 + v51);
        const v50a = roundToTwo(v20 + v50); //71 10
        const v51a = roundToTwo(v21 + v51);
        const v52a = roundToTwo(v50a + v51a);
        const v60 = roundToTwo((v50a * financiero) / 100);
        const v61 = roundToTwo((v51a * financiero) / 100);
        const v62 = roundToTwo(v60 + v61);
        const v70 = roundToTwo(v50a + v60);
        const v71 = roundToTwo(v51a + v61);
        const v72 = roundToTwo(v70 + v71);

        const v80 = roundToTwo((v50a * utilidad) / 100);
        const v81 = roundToTwo((v51a * utilidad) / 100);
        const v82 = roundToTwo(v80 + v81);
        const v90 = roundToTwo(v70 + v80);
        const v91 = roundToTwo(v71 + v81);
        const v92 = roundToTwo(v90 + v91);
        //console.log(v61);
        return {v90, v91, v92, v00, v62};
    }

function roundToTwo(value) {
        if (parseFloat(value) > 0) {
            return (Math.round(value * 100) / 100);
        } else {
            return 0.00;
        }
    }






    function showAddProductModal() {
    Swal.fire({
        title: 'Agregar Producto',
        html: `
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <label for="first-input">Nombre</label>
                        <input onkeyup="performAxiosCall();" id="first-input" class="form-control">

                        <label for="second-input">Marca</label>
                        <input id="second-input" class="form-control">

                        <label for="third-input">Materiales</label>
                        <input onkeyup="calcularModal()" id="third-input" class="form-control">

                        <label for="fourth-input">M. O.</label>
                        <input onkeyup="calcularModal()"  id="fourth-input" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="fifth-input">Cantidad</label>
                        <input onkeyup="calcularModal()" id="fifth-input" class="form-control">
                        <label for="sixth-input">Precio</label>
                        <input disabled id="sixth-input" class="form-control">
                        <label for="seventh-input">PF</label>
                        <input disabled id="seventh-input" class="form-control">
                        <label for="eighth-input">Total</label>
                        <input disabled id="eighth-input" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <label for="product-select">Seleccione un producto</label>
                    <select id="product-select" class="form-control">
                        <option value="">Seleccione un producto</option>
                    </select>
                    <input type="text" hidden id="product-id">
                    <input type="text" hidden id="product-price">
                </div>
            </div>
        `,
        showCancelButton: true,
        width: '50vw',
        confirmButtonText: 'Submit',
        preConfirm: () => {
            enviarData()
        }
    });
}


    let previousSearch = '';
    let previousResult = null;
    let timeout = null;

    function performAxiosCall() {
        const inputs = [
            document.getElementById('first-input'),
            document.getElementById('second-input'),
            document.getElementById('third-input'),
            document.getElementById('fourth-input'),
            document.getElementById('fifth-input')
        ];

        inputs.forEach(input => {
            input.addEventListener('keyup', () => {
                clearTimeout(timeout);
                timeout = setTimeout(() => {
                    const [firstInput, secondInput, thirdInput, fourthInput, fifthInput] = inputs.map(input => input.value);
                    const searchText = `${firstInput}`;
                    if (searchText === previousSearch) {
                        // Actualiza la lista select con los resultados de la búsqueda previa
                        updateSelect(previousResult);
                    } else {

                        
                        // Realiza la búsqueda en tiempo real usando Axios
                        axios.get(`/getProducto?searchText=${searchText}`)
                            .then(response => {
                                // Actualiza la lista select con los productos
                                previousResult = response.data[0];
                                previousSearch = searchText;
                                updateSelect(previousResult);
                            })
                            .catch(error => {
                                // Maneja el error aquí
                                //console.error(error);
                            });
                    }
                }, 500);
            });
        });
    }


let datta = {}
function updateSelect(products) {

    const select = document.getElementById('product-select');

    select.innerHTML = '<option value="">Seleccione un producto</option>';

    products.forEach(product => {
        const option = document.createElement('option');
        option.value = product.producto_id;
        option.innerText = product.producto_modelo + ' - ' +product.producto_descripcion;
        select.appendChild(option);
    });         

    //onkeyup guardar el valor del input 5
    document.getElementById('fifth-input').addEventListener('keyup', event => {
        const quantity = parseFloat(document.getElementById('fifth-input').value);
        //console.log(quantity);
    });

    //? onchange select

    select.addEventListener('change', event => {
        let selectedProduct = null;
        for (let i = 0; i < products.length; i++) {
            if (products[i].producto_id == event.target.value) {
                selectedProduct = products[i];
                break;
            }
        }
        //console.log(selectedProduct)
        if (selectedProduct) {
            const ma_costo = selectedProduct.producto_precio_venta;
            const mo = selectedProduct.producto_mo;
            const precio = calcularTarjeta(ma_costo, selectedProduct.producto_mo, selectedProduct.producto_icampo, selectedProduct.producto_ioficina, selectedProduct.producto_hm, selectedProduct.producto_financiero, selectedProduct.producto_utilidad, selectedProduct.producto_moneda_id, selectedProduct.producto_precio_tarjeta);
            document.getElementById('second-input').value = selectedProduct.marca_descripcion;
            document.getElementById('third-input').value = precio.v90.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('fourth-input').value = precio.v91.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');
            document.getElementById('fifth-input').value = 1;
            document.getElementById('sixth-input').value = precio.v92.toLocaleString('en-US', {style: 'currency', currency: 'USD'});
            const totalo = (parseFloat(document.getElementById('fifth-input').value) * parseFloat(precio.v92));
            document.getElementById('eighth-input').value = totalo.toLocaleString('en-US', {style: 'currency', currency: 'USD'});
            document.getElementById('product-id').value = selectedProduct.producto_costo;
            document.getElementById('product-price').value = selectedProduct.producto_moneda_id;

            const data = {
                cotizacion_id: {{p.cotizacion_id}},
                disciplina_id: selectedProduct.producto_familia_id,
                producto: selectedProduct.producto_id,
                producto_moneda_id: selectedProduct.producto_moneda_id,
                descripcion: selectedProduct.producto_descripcion, 
                marca: selectedProduct.producto_marca_id, 
                ma_costo: precio.v90,
                mo: precio.v91,
                cantidad: document.getElementById('fifth-input').value,
                precio: precio.v92,
                financiero: selectedProduct.producto_financiero,
                total: totalo,
                tarjeta_producto_mo: selectedProduct.producto_mo, 
                tarjeta_producto_icampo: selectedProduct.producto_icampo, 
                tarjeta_producto_ioficina :selectedProduct.producto_ioficina, 
                tarjeta_producto_hm: selectedProduct.producto_hm, 
                tarjeta_producto_financiero :selectedProduct.producto_financiero,
                tarjeta_producto_utilidad:selectedProduct.producto_utilidad
            }
            
            llenarObjeto(data)
            calcularModal(selectedProduct.producto_costo, selectedProduct.producto_moneda_id)
            
        }
    });
}


function llenarObjeto(data){
    datta = data
    
    return datta
}

function enviarData() {
loaderUp()
    
const monedaProducto = datta.producto_moneda_id.toString();
const moneda_cotizacionn = moneda_cotizacion
const ma = parseFloat(document.getElementById('third-input').value.replace(/[,]/g, "")) 

const tottal = parseFloat(document.getElementById('eighth-input').value.replace(/[,]/g, ""))


const cond =  moneda_cotizacionn.toString() + monedaProducto.toString() 
//console.log(cond)
let costou, ttotal, costoCotizacion, totalCotizacion
switch (cond) {
    case "11":
        costou = ma
        ttotal = tottal
        break;
    case "12":
        costou = ma / 21
        total = tottal / 21
        break;
    case "22":
        costou = ma
        ttotal = tottal
        break;
    case "21":
        costou= ma * 21
        ttotal = tottal * 21
        break;
    default:
        break;
}


    //    costoCotizacion = parseFloat((document.getElementById('totalIVA').value).replace(/\$/g, '')) + tottal
    //    totalCotizacion = parseFloat((document.getElementById('costo').value).replace(/\$/g, '')) + ma

    
    datta.cantidad = parseFloat(document.getElementById('fifth-input').value);
    datta.total = ttotal
    datta.ma =  costou
    datta.totalC = totalCotizacion
    datta.costoC =  costoCotizacion

    //console.log(datta)
    axios.post('/addProductToProject', datta)
        .then(response => {
            // Maneja la respuesta aquí
            location.reload();
        })
        .catch(error => {
            //! Maneja el error aquí 
             
            //console.error(error);
        });
}

function calcularModal(ppcosto, ppmoneda) {
   let pcosto, moneda;

    const ma = parseFloat(document.getElementById('third-input').value.replace(/[,]/g, ""))
    const mo = parseFloat(document.getElementById('fourth-input').value.replace(/[,]/g, ""))
    const Cantidad = parseFloat(document.getElementById('fifth-input').value)
    if(!ppcosto || !ppmoneda){
        pcosto = parseFloat(document.getElementById('product-id').value);
        moneda = parseFloat(document.getElementById('product-price').value);
    } else {
        pcosto = ppcosto;
        moneda = ppmoneda;
    }

    let pc;

    if (moneda_cotizacion == 1){
        pc = (moneda == 1) ? pcosto : pcosto * 21;
    } else if (moneda_cotizacion == 2){
        pc = (moneda == 1) ? pcosto / 21 : pcosto;
    }

    const precio = ma + mo;
    const total = precio * Cantidad;
    const pf =  ((ma / pc) -1) * 100;


    //console.log(ma, pc, 'Hola')

    document.getElementById('seventh-input').value = "%" + pf.toFixed(2);
    document.getElementById('eighth-input').value = total.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');

    
}


//? funcion para agregar servicio
function addServicio() {
  var fechaActual = getCurrentDateSQL();
  Swal.fire({
    title: 'Agregar Servicio',
    html: `
      <div class="container">
        <div class="row">
          <div class="col-6">
            <input type="text" hidden class="form-control">
            <label for="first-input">Descripcion</label>
            <input id="first-input" class="form-control mb-2">
            <label for="third-input">Precio</label>
            <input id="third-input" class="form-control mb-2"  onkeyup="formcalculate()">
          </div>
          <div class="col-6">
            <label for="second-input">Cantidad</label>
            <input id="second-input" class="form-control" onkeyup="formcalculate()">   
            <label for="fourth-input">total</label>
            <input id="fourth-input" class="form-control" >
          </div>
        </div>
      </div>
    `,
    showCancelButton: true,
    confirmButtonText: 'Agregar',
    preConfirm: () => {
      return [
        document.getElementById('first-input').value,
        document.getElementById('second-input').value,
        document.getElementById('third-input').value,
        document.getElementById('fourth-input').value
      ]
    }
  }).then((result) => {
    if (result.isConfirmed) {
        loaderUp()
      axios.post('/addServicio', {
        "producto_codigo": "SERVICIO",
        "producto_modelo": "SERVICIO",
        "producto_marca_id": "102",
        "producto_unidad_id": 20,
        "producto_tipo_id": 3,
        "producto_familia_id": 11,
        "producto_serie_id": 1,
        "producto_costo": 0,
        "producto_costo_fecha": fechaActual,
        "producto_mo": 0,
        "producto_icampo": 0,
        "producto_ioficina": 0,
        "producto_hm": 0,
        "producto_financiero": 0,
        "producto_utilidad": 0,
        producto_descripcion: result.value[0],
        producto_precio_tarjeta: result.value[3],
        producto_precio_venta: result.value[3],
        producto_marca_id: 102,
        cantidad: result.value[1],
        total: result.value[4],
        insumo_cotizacion_id: {{p.cotizacion_id}}
      })
        .then(response => {
          location.reload();
        })
        .catch(function (error) {
          Swal.fire({
                            title: 'Error al agregar servicio',
                            text: 'Ha ocurrido un error al agregar el servicio, por favor intenta de nuevo'
                        })
                    }
                );
            }
        }
    )
}

function formcalculate() {
    var cantidad = document.getElementById("second-input").value;
    var precio = document.getElementById("third-input").value;
    var total = cantidad * precio;
    document.getElementById("fourth-input").value = total.toFixed(2);
}

    //funcion fecha actual
function getCurrentDateSQL() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    return today;
}








function calcularSubtotal() {
  // Obtener todas las filas de la tabla
  var filas = document.querySelectorAll("tr");

  const desc = {{{json p.cotizacion_descuento_porcentaje}}}

  // Inicializar el total en 0
  var total = 0;

  // Iterar sobre cada fila
  filas.forEach(function(fila) {
    // Obtener las celdas de cada fila
    var celdas = fila.querySelectorAll("td");
    // Verificar si la fila tiene las celdas necesarias
    if (celdas.length >= 6) {
      // Obtener los valores de cantidad, ma y mo
      var cantidad = parseInt(celdas[3].innerText);
      var ma = parseFloat(celdas[4].innerText.replace(/[$,]/g, ""))
      var mo = parseFloat(celdas[5].innerText.replace(/[$,]/g, ""))
      // Verificar que los valores sean numéricos
      if (isNaN(cantidad) || isNaN(ma) || isNaN(mo)) {
        return;
      }
      // Si el precio de ma es vacío, o igual a 0, entonces hacer la suma sin la multiplicación de ma
      if (ma == 0 || ma == null || isNaN(ma)) {
        var subtotal = cantidad * (ma + mo);
      } else {
        // Si el precio de ma no es vacío, entonces hacer la suma con la multiplicación de ma
        var subtotal = cantidad * (ma + mo);
      }
      
      // Dar formato de moneda al resultado de subtotal
      celdas[6].innerText = "$" + subtotal.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');
      // Sumar el subtotal al total
      total += subtotal;

    }

  });

  // Dar formato de moneda al total
  var celdaTotal1 = document.getElementById("muestraTotal");
  celdaTotal1.innerText = "$" + total.toFixed(2).replace( /(\d)(?=(\d{3})+\.)/g, '$1,');
}





const dltInsumo = async(id) => {
    try {
        loaderDelete();
        axios.post('/deleteInsumo/' + id)
            .then(response => {
                location.reload();
            })
            .catch(function (error) {
                Swal.fire({
                title: 'Error al eliminar insumo',
                text: 'Ha ocurrido un error al eliminar el insumo, por favor intenta de nuevo'
                })
            });
    } catch (error) {
        //console.log(error);
    }
}

let totalOrg = calcularSubtotal(); 
    
 function calculateDescuento(op, shouldReload = true) {
    // Get the cell element by its ID
    const id = {{{json p.cotizacion_id}}};

    var muestraTotalCell = document.getElementById("muestraTotal");
    var muestraTotalText = muestraTotalCell.textContent;
    var muestraTotalNumeric = muestraTotalText.replace("$", "").replace(",", "");
    var muestraTotalValue = parseFloat(muestraTotalNumeric);
    //console.log(muestraTotalValue)
    const descuentoPorcentaje = document.getElementById("descuento_porcentaje").value;
    const descuentoCantidad = document.getElementById("descuento_cantidad").value;

    axios.put('/addDescuento/' + id, {
        descuento: descuentoPorcentaje
    })

    if (op == 1) {
        const descuento = document.getElementById("descuento_porcentaje").value;
        if (isNaN(descuento)) {
            calcularSubtotal();
            return;
        }
        const porcentaje = parseFloat(descuento) / 100
        const rebaje = muestraTotalValue * porcentaje;
        const total = muestraTotalValue - (muestraTotalValue * porcentaje);
        //console.log(descuento)
        //console.log(rebaje)
        //console.log(total)
        if (isNaN(total) || isNaN(rebaje) || rebaje === 0) {
            calcularSubtotal();
            if (shouldReload) {
                location.reload();
            }
            return;
        }

        document.getElementById("muestraTotal").innerText = total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');;
        document.getElementById("descuento_cantidad").value = rebaje.toFixed(2);
        console.log(total)

    } else if (op == 2) {
        const descuento = document.getElementById("descuento_cantidad").value;
        if (isNaN(descuento)) {
            calcularSubtotal();
            return
        }
        const porcentaje = (descuento / muestraTotalValue) * 100;
        const total = muestraTotalValue - descuento
        if (isNaN(total) || isNaN(porcentaje)) {
            calcularSubtotal();
            return
        }
        if (total < 0) {
            calcularSubtotal();
            return
        }
        document.getElementById("muestraTotal").innerHTML = "$" + total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');;
        document.getElementById("descuento_porcentaje").value = porcentaje.toFixed(2);
        axios.put('/addDescuento/' + id, {
            descuento: porcentaje.toFixed(2)
        })

    }
    if (shouldReload) {
        location.reload();
    }
}

// Llama la función cuando se carga la página
calculateDescuento(1, false);

// Llama la función cuando cambia el valor del input
document.getElementById("descuento_porcentaje").addEventListener("change", function () {
    calculateDescuento(1);
});

document.getElementById("descuento_cantidad").addEventListener("change", function () {
    calculateDescuento(2);
});








//? Editar Servicio
function showEditServicioProduct(orden, nombre, cantidad, precio, marca, material) {
    Swal.fire({
        title: 'Agregar Producto',
        html: `
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <label for="first-input">Nombre</label>
                        <input id="first-input"  class="form-control" disabled value="${nombre}">   
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 mb-4">
                        <label for="fourth-input">M. O.</label>
                        <input  value="${precio}"  id="fourth-input" class="form-control" ${marca !== 'dotdcd' ? 'disabled' : ''}>
                    </div>
                    <div class="col-4 mb-4">
                        <label for="third-input">Materiales</label>
                        <input  id="third-input" value="${material}" disabled class="form-control">

                        
                    </div>
                    <div class="col-4">
                        <label for="fifth-input">Cantidad</label>
                        <input  id="fifth-input" class="form-control" value="${cantidad}">
                    </div>
                </div>
                
            </div>
        `,
        showCancelButton: true,
        width: '50vw',
        confirmButtonText: 'Submit',
        preConfirm: () => {
            if(marca == 'dotdcd'){
                loaderUpd()
                axios.put('/updServiceToProject/' + orden, {
                     insumo_cantidad: document.getElementById('fifth-input').value,
                     insumo_precio_mo: document.getElementById('fourth-input').value
                })
                .then(response => {
                    location.reload();
                })
                .catch(function (error) {
                    Swal.fire({
                    title: 'Error al actualizar servicio',
                    text: 'Ha ocurrido un error al actualizar el servicio, por favor intenta de nuevo'
                    })
                });
            } else {
                loaderUpd()
                axios.put('/updProductToProject/' + orden, {
                    insumo_cantidad: document.getElementById('fifth-input').value
                })
                .then(response => {
                    location.reload();
                })
                .catch(function (error) {
                    Swal.fire({
                    title: 'Error al actualizar servicio',
                    text: 'Ha ocurrido un error al actualizar el servicio, por favor intenta de nuevo'
                    })
                });
            }
        }
    });
}

{{else if (is p.cotizacion_tipo_id 2)}}

console.log('https://imgs.search.brave.com/zoEmIKBRA2UeKY3uCtqCivLoo1DDfsDTPPLPDTlXroc/rs:fit:450:600:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly0wSUZFZUIzN19t/ay9VU2V4UE5pWU5K/SS9BQUFBQUFBQVR6/Zy9iUURYUmhQN2Nt/dy9zMTYwMC8xMTAy/NV8yODc5NTc1NDA2/NDgwXzE0MDMyODQ0/NTZfbi5qcGc')
  document.addEventListener('DOMContentLoaded', function() {
    // Busca el elemento con la clase "additional"
    const additionalElement = document.querySelector('.additional');

    // Si no existe el elemento, oculta el elemento que deseas ocultar
    if (!additionalElement) {
      const elementToHide = document.querySelector('#nivel-table');
      elementToHide.style.display = 'none';
    }
  });

{{/if}}
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{{/section}}