<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Agregar Proyecto <span class="fw-300"><i>DOTDCD - ERP</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">

                        <!-- Formulario  -->
                        <form class="form-group ccontainer" method="post" action="/updProyecto/{{p.cotizacion_id}}">
                            <label class="form-label col-12" for="simpleinput">
                                <h3 class="text-center">Editar Proyecto</h3>
                            </label><br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container"> <!-- sistema de niveles -->
                                        <div class="row">
                                            <div class="table-responsive rounded">
                                                <div id="accordion">
                                                <h3>Section 1</h3>
                                                    <div>
                                                        <p>Content of section 1</p>
                                                    </div>
                                                <h3>Section 2</h3>
                                                    <div>
                                                        <p>Content of section 2</p>
                                                    </div>
                                                <h3>Section 3</h3>
                                                    <div>
                                                        <p>Content of section 3</p>
                                                    </div>
                                                </div>

                                                <table class=" table table-success  ">
                                                    <thead class="rounded ">
                                                        <tr class="text-center">
                                                            <th colspan="4" class="text-center">
                                                                <h3>RESUMEN</h3>
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr>
                                                            <th>Nombre del Proyecto</th>
                                                            <td>{{p.cotizacion_proyecto}}</td>
                                                            <th>Estatus</th>
                                                            <th>Fecha</th>
                                                        </tr>

                                                        <tr>
                                                            <th>Descripcion del Proyecto</th>
                                                            <td>{{p.cotizacion_descripcion}}</td>
                                                            <td>
                                                                <select name="" disabled
                                                                    style="background-color: #BEEDE8;"
                                                                    class="form-control" id="">
                                                                    <option value="0" {{#if (is
                                                                        p.cotizacion_autorizada_estatus 0)}} selected
                                                                        {{/if}}>Cotizada</option>
                                                                    <option value="1" {{#if (is
                                                                        p.cotizacion_autorizada_estatus 1)}} selected
                                                                        {{/if}}>Autorizada</option>
                                                                    <option value="2" {{#if (is
                                                                        p.cotizacion_autorizada_estatus 2)}} selected
                                                                        {{/if}}>Terminada</option>
                                                                    <option value="9" {{#if (is
                                                                        p.cotizacion_autorizada_estatus 9)}} selected
                                                                        {{/if}}>Poliza</option>
                                                                </select>
                                                            </td>
                                                            <td>{{p.cotizacion_fecha_alta}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Moneda</th>
                                                            <td><select name="" class="form-control" disabled id=""
                                                                    style="background-color: #BEEDE8; color:black !important; width: 100%; height: 100%;">
                                                                    {{#each moneda}}
                                                                    <option value="{{moneda_id}}" {{#if
                                                                        (is../p.cotizacion_moneda_id moneda_id) }}
                                                                        selected {{/if}}>{{moneda_descripcion}}</option>
                                                                    {{/each}}
                                                                </select></td>
                                                            <td></td>

                                                            <td></td>
                                                        </tr>
                                                        <tr class="">

                                                            <td id="miBoton" class="text-center" colspan="4">
                                                                <h4 class="text-black">Observaciones</h4>
                                                                <textarea name="" id="" cols="30" rows="2" disabled
                                                                    class="form-control">{{p.cotizacion_observaciones}}</textarea>
                                                                <button style="cursor:pointer;"
                                                                    class="btn btn-primary  btn-block "
                                                                    type="button">Modificar</button>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                        <tr>
                                                            <th>% PF</th>
                                                            <th>IVA</th>
                                                            <th>% Descuento</th>
                                                            <th>Cantidad Descuento</th>
                                                        </tr>

                                                        <td id="txtpf">{{p.pf}}</td>
                                                        <td><select name="" class="form-control" disabled id=""
                                                                style="background-color: #BEEDE8; color:black !important; width: 100%; height: 100%;">
                                                                <option value="0" {{#if (is p.estimacion_iva 0
                                                                    estimacion_iva)}} selected {{/if}}>No</option>
                                                                <option value="1" {{#if (is p.estimacion_iva 1
                                                                    estimacion_iva)}} selected {{/if}}>Si</option>
                                                            </select></td>
                                                        <td><input type="text" id="descuento_porcentaje"
                                                                class="form-control"
                                                                value="{{p.cotizacion_descuento_porcentaje}}"
                                                                onKeyup="calcular_pie(1);"></td>
                                                        <td><input type="text" id="descuento_cantidad"
                                                                class="form-control"
                                                                value="{{p.cotizacion_descuento_porcentaje}}"
                                                                onKeyup="calcular_pie(2);"></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4">
                                                                <input type="text"
                                                                    value="{{p.cotizacion_compras_totalizadas}}">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            <table class="table table-success text-center" id="productos">
                                                <tr>
                                                    <th>Producto</th>
                                                    <th>Marca</th>
                                                    <th>Cantidad</th>
                                                    <th>Material</th>
                                                    <th>M.O.</th>
                                                    <th>Subtotal</th>
                                                    <th>Acciones</th>
                                                    
                                                </tr>
                                                <tbody id="table-body">
                                                {{#each prodProyecto}}
                                                <tr>
                                                    <td>{{producto_descripcion}}</td>
                                                    <td>{{marca_descripcion}}</td>
                                                    <td>{{insumo_cantidad}}</td>
                                                    <td>{{tipo_material}}</td>
                                                    <td>{{producto_mo}}</td>
                                                    <td id="subtotal">{{producto_precio_tarjeta}}</td>
                                                    <td><button type="button" class="btn btn-danger remove-row-btn" onclick="calcularTotal()">Eliminar</button></td>
                                                </tr>
                                                {{/each}}
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td id="total"></td>
                                                    <td></td>

                                                </tr>
                                                </tbody>
                                               
                                                
                                                <tr>
                                                    <td><button id="add-row-btn" type="button" class="btn btn-primary">Agregar producto</button></td>

                                                </tr>
                                                
                                            </table>







                                            </div>
                                        </div>
                                    </div> <br><br>
                                    <br><br>
                                    <div class="row">
                                        <div class="accordion" id="insumosAccordion">
  {{#each insumos}}
    <div class="card">
      <div class="card-header" id="heading{{@index}}">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
            {{diciplina_descripcion}}
          </button>
        </h2>
      </div>

      <div id="collapse{{@index}}" class="collapse" aria-labelledby="heading{{@index}}" data-parent="#insumosAccordion">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio MO</th>
                <th>Precio MA</th>
                <th>Tipo</th>
              </tr>
            </thead>
            <tbody>
              {{#each insumos}}
                <tr>
                  <td>{{producto}}</td>
                  <td>{{insumo_cantidad}}</td>
                  <td>{{insumo_precio_mo}}</td>
                  <td>{{insumo_precio_ma}}</td>
                  <td>{{insumo_tipo_id}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {{/each}}
</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span>Cliente</span>
                                            <select name="cotizacion_cliente_id" class="form-control" id="">
                                                {{#each clientes}}
                                                <option value="{{cliente_id}}" {{#if (is../p.cotizacion_cliente_id
                                                    cliente_id) }} selected {{/if}}>{{cliente_razon_social}}</option>
                                                {{/each}}
                                            </select><br />

                                            <span>Contacto</span>
                                            <input type="text" id="simpleinput" class="form-control" placeholder=""
                                                name="cotizacion_contacto" value="{{p.cotizacion_contacto}}"><br />

                                            <span>Empleado</span>
                                            <select name="cotizacion_empleado_id" class="form-control" id="">
                                                {{#each empleados}}
                                                <option value="{{empleado_id}}" {{#if (is../p.cotizacion_empleado_id
                                                    empleado_id) }} selected {{/if}}>{{nombre_completo}}</option>
                                                {{/each}}
                                            </select><br />

                                            <span> Tipo de cotización</span>
                                            <select name="cotizacion_tipo_id" class="form-control" id="">
                                                {{#each clase}}
                                                <option value="{{cotizacion_tipo_id}}" {{#if (is../p.cotizacion_tipo_id
                                                    cotizacion_tipo_id) }} selected {{/if}}>
                                                    {{cotizacion_tipo_descripcion}}
                                                </option>
                                                {{/each}}
                                            </select><br />

                                            <span>Moneda</span>
                                            <select name="cotizacion_moneda_id" id="" class="form-control">
                                                {{#each moneda}}
                                                <option value="{{moneda_id}}" {{#if (is../p.cotizacion_moneda_id
                                                    moneda_id) }} selected {{/if}}>{{moneda_descripcion}}</option>
                                                {{/each}}
                                            </select><br />

                                            <span>IVA</span>
                                            <select name="estimacion_iva" id="" class="form-control">
                                                <option value="0" {{#if (is p.estimacion_iva 0 estimacion_iva)}}
                                                    selected {{/if}}>No</option>
                                                <option value="1" {{#if (is p.estimacion_iva 1 estimacion_iva)}}
                                                    selected {{/if}}>Si</option>
                                            </select><br />

                                            <span>Empresa </span><!--Empresas loop-->
                                            <select name="cotizacion_empresa_id" id="" class="form-control">
                                                {{#each empresaa}}
                                                <option value="{{id}}" {{#if (is../p.cotizacion_empresa_id id) }}
                                                    selected {{/if}}>{{empresa_razon_social}}</option>
                                                {{/each}}
                                            </select><br />
                                        </div>
                                        <!--aqui se divide-->
                                        <div class="col-md-6">


                                            <span>Sucursal</span>
                                            <select name="sucursal_id" class="form-control" id="">
                                                {{#each sucursales}}
                                                <option value="{{sucursal_id}}" {{#if (is../p.sucursal_id sucursal_id)
                                                    }} selected {{/if}}>{{sucursal_nombre}}</option>
                                                {{/each}}
                                            </select><br />

                                            <span>Nombre del Proyecto</span>
                                            <input type="text" class="form-control" name="cotizacion_proyecto"
                                                value="{{p.cotizacion_proyecto}}"><br />

                                            <span>Descripcion</span>
                                            <input type="text" class="form-control" name="cotizacion_descripcion"
                                                value="{{p.cotizacion_descripcion}}"><br />

                                            <span>Ubicacion de la Obra</span>
                                            <input type="text" class="form-control" name="cotizacion_ubicacion"
                                                value="{{p.cotizacion_ubicacion}}"><br />

                                            <span>Condiciones Comerciales</span>
                                            <input type="text" class="form-control"
                                                name="cotizacion_condiciones_comerciales"
                                                value="{{p.cotizacion_condiciones_comerciales}}"><br />

                                            <span>Observaciones</span>
                                            <input id="miInput" type="text" class="form-control"
                                                name="cotizacion_observaciones"
                                                value="{{p.cotizacion_observaciones}}"><br />

                                            <span>Estatus</span>
                                            <select name="cotizacion_estatus_baja" class="form-control" id="">
                                                <option value="0" {{#if (is p.cotizacion_estatus_baja 0)}} selected
                                                    {{/if}}>
                                                    Activo</option>
                                                <option value="1" {{#if (is p.cotizacion_estatus_baja 1)}} selected
                                                    {{/if}}>
                                                    Inactivo</option>
                                            </select>
                                        </div>
                                    </div>

                                    <br><br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-info btn-lg btn-block">Guardar</button>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="/dashboard/operacion/proyectos/buscar"
                                                class="btn btn-danger btn-lg btn-block">Cancelar</a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table id="tabla" class="table table-striped">
    
    
</table>
<div id="contenido"></div>

{{#section 'scripts'}}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
    .counter {
        text-align: center;
        font-weight: bold;
    }
</style>
<script>



document.addEventListener("DOMContentLoaded", function() {
  var subtotals = document.querySelectorAll("td[id='subtotal']");
  var sum = 0;
  for (var i = 0; i < subtotals.length; i++) {
    sum += parseFloat(subtotals[i].textContent);
  }
  document.getElementById("total").textContent = sum.toLocaleString("es-MX", {style: "currency", currency: "MXN"});
});

// onkeyup calcular total

addEventListener("click", function() {
  var subtotals = document.querySelectorAll("td[id='subtotal']");
  var sum = 0;
  for (var i = 0; i < subtotals.length; i++) {
    sum += parseFloat(subtotals[i].textContent);
  }
  document.getElementById("total").textContent = sum.toLocaleString("es-MX", {style: "currency", currency: "MXN"});
});
function calcularTotal() {
  var subtotals = document.querySelectorAll("td[id='subtotal']");
  var sum = 0;
  for (var i = 0; i < subtotals.length; i++) {
    sum += parseFloat(subtotals[i].textContent);
  }
    document.getElementById("total").textContent = sum.toLocaleString("es-MX", {style: "currency", currency: "MXN"});

}

 const addRowBtn = document.getElementById("add-row-btn");
  const tableBody = document.getElementById("table-body");


 addRowBtn.addEventListener("click", function() {
    
    Swal.fire({
  title: 'Buscar Producto',
  input: 'text',
  inputAttributes: {
    autocapitalize: 'off'
  },
  showCancelButton: true,
  confirmButtonText: 'Buscar',
  showLoaderOnConfirm: true,
  preConfirm: (login) => {
    return fetch(`/getProducto`)
      .then(response => {
        if (!response.ok) {
          throw new Error(response.statusText)
        }
        return response.json()
      })
      .catch(error => {
        Swal.showValidationMessage(
          `Request failed: ${error}`
        )
      })
  },
  allowOutsideClick: () => !Swal.isLoading()
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire({
      title: `No se pudo encontrar el producto`,
      imageUrl: result.value.avatar_url
    })
  }
})
} );

tableBody.addEventListener("click", function(event) {
    if (event.target.classList.contains("remove-row-btn")) {
      event.target.parentNode.parentNode.remove();
    }
  });

//desplegar lista de productos de bajo del modal


/*
  addRowBtn.addEventListener("click", function() {
    const newRow = `
      <tr>
        <td>Nuevo producto</td>
        <td>Nueva marca</td>
        <td>0</td>
        <td>Nuevo material</td>
        <td>$0</td>
        <td>$0</td>
        <td><button type class="btn btn-danger remove-row-btn">Eliminar</button></td>
      </tr>
    `;
    tableBody.insertAdjacentHTML("beforeend", newRow);
  });

  


*/










                                                
                const familias = {{{json disciplinass}}}
                const tipos = {{{json tipos}}}
                const niveles = {{{json niveles}}}
                const producto = {{{json prodProyecto}}}

                
                familias.sort(function(a, b) {
                    return a.orden - b.orden;
                });
                tipos.sort(function(a, b) {
                    return a.orden - b.orden;
                });
                niveles.sort(function(a, b) {
                    return a.orden - b.orden;
                });
                producto.sort(function(a, b) {
                    return a.orden - b.orden;
                });
                







 











    const btnToggles = document.getElementsByClassName("btn-toggle");
    for (const btnToggle of btnToggles) {
        btnToggle.addEventListener("click", function () {
            const nextRow = this.parentNode.parentNode.nextElementSibling;
            nextRow.style.display = nextRow.style.display === "table-row" ? "none" : "table-row";
            const icon = this.querySelector("i");
            icon.classList.toggle("fa-plus");
            icon.classList.toggle("fa-minus");
            btnToggle.classList.toggle("btn-success");
            btnToggle.classList.toggle("btn-danger");
        });
    }

    var printedTexts = [];
    var contadores = {};

    function agregarProductoLista() {
        var select = document.getElementById("mySelect");
        var selectedIndex = select.selectedIndex;
        var selectedOption = select.options[selectedIndex];
        var selectedText = selectedOption.text;

        var table = document.getElementById("myTable");

        if (printedTexts.includes(selectedText)) {
            contadores[selectedText] += 1;
            // encuentra la fila existente con el texto seleccionado
            var existingRow = table.querySelector("td:contains(" + selectedText + ")");
            // actualiza el contador en la fila existente
            existingRow.querySelector(".counter" + id).forEach(function (counter) {
                counter.textContent = contadores[selectedText]
                console.log(printedTexts, contadores);
            });
        } else {
            printedTexts.push(selectedText);
            contadores[selectedText] = 1;
            var newRow = table.insertRow();
            var newCell = newRow.insertCell();
            newCell.innerHTML = selectedText;
            var newCounterCell = newRow.insertCell();
            newCounterCell.innerHTML = contadores[selectedText];
            newCounterCell.classList.add("counter" + id);
            console.log(printedTexts, contadores);
        }
        console.log(printedTexts, contadores);
    }


    function enfocarInput() {
        document.getElementById("miInput").focus();
    }

    document.getElementById("miBoton").addEventListener("click", enfocarInput);


    function calcular_pie(caso) {
        if (caso == 1) {
            //alert('1');
            document.getElementById("descuento_cantidad").value = roundToTwo((parseFloat(document.getElementById("descuento_porcentaje").value) * parseFloat(unformatNumber(document.getElementById("total_sin_descuento").innerHTML))) / 100);
        }
        else
            if (caso == 2) {
                //alert('2');
                document.getElementById("descuento_porcentaje").value = roundToTwo((parseFloat(document.getElementById("descuento_cantidad").value) * 100) / parseFloat(unformatNumber(document.getElementById("total_sin_descuento").innerHTML)));
            }

        var tot_sdesc = parseFloat(unformatNumber(document.getElementById("total_sin_descuento").innerHTML)) + 0;
        if (parseFloat(document.getElementById("descuento_cantidad").value) == 0 || parseFloat(document.getElementById("descuento_porcentaje").value) == 0) {
            document.getElementById("descuento_cantidad").value = '';
            document.getElementById("descuento_porcentaje").value = '';
            var desc_cant = roundToTwo(0.00);
            var desc_pcje = roundToTwo(0.00);
        }
        else {
            var desc_cant = roundToTwo(parseFloat(document.getElementById("descuento_cantidad").value));
            var desc_pcje = roundToTwo(parseFloat(document.getElementById("descuento_porcentaje").value));
        }
        //var tot_pie   = formatNumber(roundToTwo(tot_sdesc - desc_cant), '$');
        var tot_pie = tot_sdesc - desc_cant;
        document.getElementById("pie_total").innerHTML = formatNumber(roundToTwo(tot_pie), '$');
        document.getElementById("pie_iva").innerHTML = formatNumber(roundToTwo(tot_pie * 0.16), '$');
        document.getElementById("pie_total_con_iva").innerHTML = formatNumber(roundToTwo(tot_pie * 1.16), '$');
        console.log(tot_pie, desc_cant, desc_pcje)

        if (caso == 1 || caso == 2) {
            $.ajax({
                type: 'GET', url: './Cotizacion_descuento_actualizar.php?cotizacion_id=' + producto_cotizacion_id + '&descuento=' + desc_pcje, success: function (resultado) {
                    if (resultado != "") {
                        alert(resultado);
                        RightContext.initialize();
                    }
                    else
                        RightContext.initialize();
                }
            });
        }
    }

    function roundToTwo(value) {
        if (parseFloat(value) > 0)
            return (Math.round(value * 100) / 100);
        else
            return 0.00;
    }





    function checkTotal() {
        cotizacion_id = document.getElementById("cotizacion_id").value;
        total = document.getElementById("txttotal").value;
        total = total.replace(/[$,]+/g, "");
        total = parseInt(total);
        if (total == 0) {
            $.ajax({
                type: 'GET', url: './Cotizacion_get_total.php?cotizacion_id=' + cotizacion_id,
                success: function (resultado) {
                    if (resultado != "") {
                        var datos = resultado.split("|");
                        document.getElementById("txttotal").value = datos[0];
                        document.getElementById("txtcosto").value = datos[1];
                        document.getElementById("txtpf").value = datos[2];
                    }
                }
            });

            var url = 'https://dotdcd.com/erp/Cotizacion_editar.php?cotizacion_id=' + cotizacion_id;
            strFeatures = 'toolbar=no,menubar=no,location=no,resizable=no,scrollbars=no,width=700px,height=250px,top=5px,left=100px,status=no,resize=no';
            popupWin = window.open(url, 'Cotizacion', strFeatures);
        }

    }

const accordion = document.getElementById("accordion");
const sections = accordion.getElementsByTagName("h3");

for (let i = 0; i < sections.length; i++) {
    sections[i].addEventListener("click", function () {
        this.nextElementSibling.classList.toggle("show");
    });
}


</script>
{{/section}}

{{#section 'styles'}}
<style>
    #accordion {
  width: 400px;
}

#accordion h3 {
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

#accordion div {
  display: none;
  padding: 10px;
  background-color: #fdfdfd;
}

#accordion div.show {
  display: block;
}

</style>
{{/section}}