<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Agregar Proyecto <span class="fw-300"><i>DOTDCD - ERP</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <!-- Formulario  -->
                                    <form class="form-group" method="post" action="/addProyecto">
                                        <label class="form-label col-12" for="simpleinput">
                                            <h3 class="text-center">Agregar Proyecto</h3> 
                                        </label><br/><br/><br/>

                                        <span>Cliente</span>
                                        <select name="cotizacion_cliente_id" class="form-control" id="">
                                            {{#each clientes}}
                                                    <option value="{{cliente_id}}">{{cliente_razon_social}}</option>
                                            {{/each}}
                                        </select><br/>

                                        <span>Contacto</span>
                                        <input type="text" id="simpleinput" class="form-control"
                                            placeholder="" name="cotizacion_contacto" ><br/>

                                        <span>Empleado</span>
                                        <select name="cotizacion_empleado_id" class="form-control" id="">
                                            {{#each empleados}}
                                                    <option value="{{empleado_id}}">{{nombre_completo}}</option>
                                            {{/each}}
                                        </select><br/>
                                        
                                        <span> Tipo de cotización</span>
                                        <select name="cotizacion_tipo_id" class="form-control" id="">
                                          <option value="0"></option>
                                          <option value="1">Cotización Simple</option>
                                          <option value="2">Cotizacion de Proyecto</option>
                                          <option value="3">Poliza</option>
                                        </select><br/>

                                        <span>Moneda</span>
                                        <select name="cotizacion_moneda_id" id="" class="form-control">
                                            {{#each moneda}}
                                                    <option value="{{moneda_id}}">{{moneda_descripcion}}</option>
                                            {{/each}}
                                        </select><br/>

                                        <span>IVA</span>
                                        <select name="estimacion_iva" id="" class="form-control">
                                            <option value="0">No</option>
                                            <option value="1">Si</option>
                                        </select><br/>

                                        <span>Empresa </span><!--Empresas loop-->
                                        <select name="cotizacion_empresa_id" id="" class="form-control">
                                            {{#each empresaa}}
                                                    <option value="{{id}}">{{empresa_razon_social}}</option>
                                            {{/each}}
                                        </select><br/>

                                        <span>Sucursal</span>
                                        <select name="sucursal_id" class="form-control" id="">
                                            {{#each sucursales}}
                                                    <option value="{{sucursal_id}}">{{sucursal_nombre}}</option>
                                            {{/each}}
                                        </select><br/>

                                        <span>Nombre del Proyecto</span>
                                        <input type="text" class="form-control" name=""><br/>



                                        <span>Descripcion</span>
                                        <input type="text" class="form-control" name="cotizacion_descripcion"><br/>

                                        <span>Ubicacion de la Obra</span>
                                        <input type="text" class="form-control" name="cotizacion_ubicacion"><br/>

                                        <span>Condiciones Comerciales</span>
                                        <input type="text" class="form-control" name="cotizacion_condiciones_comerciales"><br/>

                                        <span>Observaciones</span>
                                        <input type="text" class="form-control" name="cotizacion_observaciones"><br/>


                                        <br><br>
                                        <button type="submit"
                                            class="btn-outline-info btn-lg btn-block ">Agregar Proyecto</button>
                                    </form>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

