<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300"><strong>Crear</strong> <i>Ingreso</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-originalbmnvxzcbhmgchdghjitle="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row text-center ">
                        <div class="col-12">
                            <h3 class="display-4">Alta de Cheques</h3>
                        </div>
                    </div>

                    <!-- Formulario  -->
                    <form class="form-group" method="post" action="/addIngreso">
                        <div class="container">
                            <label class="form-label col-12" for="simpleinput">
                                <h3 class="text-center">Ingresos</h3>
                            </label><br /><br />

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Empresa</span>
                                    <input type="text" id="b1" class="form-control" placeholder="Buscar empresa">
                                    <select name="cheque_empresa_id" id="s1" class="form-control">
                                        <option value="" disabled selected hidden>Seleccionar</option>
                                        {{#each empresas}}
                                            <option value="{{empresa_id}}">{{empresa_razon_social}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                                <div class="col-6">
                                    <span>Cuenta de Banco</span>
                                    <input type="text" id="b2" class="form-control" placeholder="Buscar cuenta de banco">
                                    <select name="cheque_cuenta_id" id="s2" class="form-control">
                                        <option value="" disabled selected hidden>Seleccionar</option>
                                        {{#each cuentas}}
                                            <option value="{{id}}">{{cuenta}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>


                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Tipo de Cambio</span>
                                    <input type="text" class="form-control" name="TipoCambio"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Cliente</span>
                                    <input type="text" id="b3" class="form-control" placeholder="Buscar cliente">
                                    <select name="cheque_cliente_id" id="s3" class="form-control">
                                        <option value="" disabled selected hidden>Seleccionar</option>
                                        {{#each clientes}}
                                            <option value="{{id}}">{{cliente}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Monto de Ingreso</span>
                                    <input type="text" class="form-control" name="cheque_monto" id="total" onkeyup="calcular()"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Cuenta Contable Banco</span>
                                    <input type="text" id="b4" class="form-control" placeholder="Buscar cuenta contable de banco">
                                    <select name="cuenta_contable" id="s4" class="form-control">
                                        <option value="" disabled selected hidden>Seleccionar</option>
                                        {{#each cuentas}}
                                            <option value="{{id}}">{{cuenta}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Subtotal</span>
                                    <input type="text" class="form-control" name="cheque_subtotal" id="subtotal"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Cuenta Contable Venta</span>
                                    <input type="text" id="b5" class="form-control" placeholder="Buscar cuenta contable venta">
                                    <select name="cuenta_contable2" id="s5" class="form-control">
                                        <option value="" disabled selected hidden>Seleccionar</option>
                                        {{#each cuentas}}
                                            <option value="{{id}}">{{cuenta}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>IVA</span>
                                    <input type="text" class="form-control" name="cheque_iva" id="iva"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Cuenta Contable IVA por cobrar</span>
                                    <input type="text" id="b6" class="form-control" placeholder="Buscar cuenta contable iva por cobrar">
                                    <select name="cuenta_contable3" id="s6" class="form-control">
                                        <option value="" disabled selected hidden>Seleccionar</option>
                                        {{#each cuentas}}
                                            <option value="{{id}}">{{cuenta}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Folio</span>
                                    <input type="text" class="form-control" name="i_folio"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Clave Prod/servicio</span>
                                    <select required name="clave" id="selectClave" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        {{#each catalogo}}
                                            <option value="{{id_sat}}">{{servicio}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            

                            <div class="col-md-12 col-sm-12 col-lg-12 mb-3 text-center">
                                <label for="" class="font-weight-bold">Factura / Remisión</label><br>
                                <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1"
                                    role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Desplegar
                                    Tabla</a>
                            </div><br>

                            <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                                <div class="collapse multi-collapse" id="multiCollapseExample1">
                                    <div class="card card-body">
                                        <label for="" class="font-weight-bold">Cotizacion /
                                            Proyecto</label><br>
                                        <!-- datatable start -->
                                        <table id="cotizaciones"
                                            class="table table-bordered table-hover table-striped w-100">
                                            <thead class="bg-primary-600">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Cliente</th>
                                                    <th>Descripcion</th>
                                                    <th>Fecha</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                        <!-- datatable end -->
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <label>Tipo de venta</label>
                                    <input type="text" id="b7" class="form-control" placeholder="Buscar tipo de venta">
                                    <select name="tipo_venta" id="s7" class="form-control">
                                        <option value="" disabled selected hidden>Seleccionar</option>
                                        <option value="1">POLIZA</option>
                                        <option value="2">RENTA</option>
                                        <option value="3">VENTA</option>
                                        <option value="4">OBRA</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <span>Numero de factura</span>
                                    <input type="text" class="form-control" name="NumFactura"> <br>
                                </div>
                            </div>

                            
                            

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-lg-6 mb-3">
                                    <label>Fecha de transferencia</label>
                            <input type="date" class="form-control" name="FechaTransferencia">
                            
                                </div>

                            <div class="col-md-6 col-sm-6 col-lg-6 mb-3">
                                    <label for="" class="font-weight-bold">Metodo de pago</label><br>
                                    <input type="text" id="buscarMetodoPago" class="form-control" placeholder="Buscar Forma de Pago">
                                    <select required name="mpago" id="selectMetodoPago" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        <option value="PPD" >Pago en parcialidades o diferido</option>
                                        <option value="PUE" >Pago en una sola exhibición</option>
                                    </select>
                                </div>
                            </div>

                            <label>Comentarios</label>
                            <textarea class="form-control" name="cheque_comentario" rows="4" cols="50"></textarea><br>


                            <br><br>
                            <button type="submit" class="btn-outline-info btn-lg btn-block ">Generar Erogación</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



{{#section 'scripts'}}
<script>
    const facturas = {{{ json facturas }}}
function calcular(){
    var total = document.getElementById('total').value;

    //calcular el 16% de la cotizacion
    var iva = total * 0.16;
    document.getElementById('iva').value = iva.toFixed(2);

    //calcular el subtotal
    var subtotal = total - iva;
    document.getElementById('subtotal').value = subtotal.toFixed(2);

    
  }

 function buscarEnSelect(inputId, selectId) {
    // Obtener el input de búsqueda y el select
    var input = document.getElementById(inputId);
    var select = document.getElementById(selectId);

    // Agregar un evento keyup al input de búsqueda
    input.addEventListener("keyup", function(){
      // Obtener el valor del input
      var valor = this.value.toLowerCase();

      // Recorrer todos los option del select
      for (var i = 0; i < select.length; i++) {
        var option = select.options[i];
        // Si el texto del option incluye el valor del input
        if (option.text.toLowerCase().includes(valor)) {
          // Mostrar el option
          option.style.display = "block";
        } else {
          // Ocultar el option
          option.style.display = "none";
        }
      }
    });
    

  }

    buscarEnSelect("b1", "s1");
    buscarEnSelect("b2", "s2");
    buscarEnSelect("b3", "s3");
    buscarEnSelect("b4", "s4");
    buscarEnSelect("b5", "s5");
    buscarEnSelect("b6", "s6");
    buscarEnSelect("b7", "s7");








    $(document).ready(function () {
        calcular()
        // initialize datatable
        $('#cotizaciones').dataTable(
            {
                data: facturas,
                responsive: true,
                lengthChange: false,
                dom:
                    "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [

                    {
                        extend: 'pdfHtml5',
                        text: 'PDF',
                        titleAttr: 'Generate PDF',
                        className: 'btn-outline-danger btn-sm mr-1'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        titleAttr: 'Generate Excel',
                        className: 'btn-outline-success btn-sm mr-1'
                    },
                    {
                        extend: 'csvHtml5',
                        text: 'CSV',
                        titleAttr: 'Generate CSV',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'copyHtml5',
                        text: 'Copy',
                        titleAttr: 'Copy to clipboard',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'print',
                        text: 'Print',
                        titleAttr: 'Print Table',
                        className: 'btn-outline-primary btn-sm'
                    }
                ]
            });

    });


</script>
{{/section}}