<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300"><strong>Crear</strong> <i>Ingreso</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-originalbmnvxzcbhmgchdghjitle="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row text-center ">
                        <div class="col-12">
                            <h3 class="display-4">Alta de Cheques</h3>
                        </div>
                    </div>

                    <!-- Formulario  -->
                    <form class="form-group" method="post" action="/">
                        <div class="container">
                            <label class="form-label col-12" for="simpleinput">
                                <h3 class="text-center">Ingresos</h3>
                            </label><br /><br />

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Empresa</span>
                                    <select name="" id="" class="form-control">
                                        {{#each empresa}}
                                        <option value="{{empresa_id}}">{{empresa_razon_social}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                                <div class="col-6">
                                    <span>Cuenta de Banco</span>
                                    <select name="" id="" class="form-control">
                                        {{#each clientes}}
                                        <option value="{{cliente_id}}">{{cliente_razon_social}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>


                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Tipo de Cambio</span>
                                    <input type="text" class="form-control"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Cliente</span>
                                    <select name="" id="" class="form-control">
                                        {{#each proveedores}}
                                        <option value="{{proveedor_id}}">{{proveedor_razon_social}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Monto de Ingreso</span>
                                    <input type="text" class="form-control"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Cuenta Contable Banco</span>
                                    <select name="" id="" class="form-control">
                                        {{#each cuentas}}
                                        <option value="{{cuenta_id}}">{{cuenta_descripcion}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Subtotal</span>
                                    <input type="text" class="form-control"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Cuenta Contable Venta</span>
                                    <select name="" id="" class="form-control">
                                        {{#each cuentas}}
                                        <option value="{{cuenta_id}}">{{cuenta_descripcion}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>IVA</span>
                                    <input type="text" class="form-control"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Cuenta Contable IVA por cobrar</span>
                                    <select name="" id="" class="form-control">
                                        {{#each cuentas}}
                                        <option value="{{cuenta_id}}">{{cuenta_descripcion}}</option>
                                        {{/each}}
                                    </select><br />
                                </div>
                            </div>

                            <div class="row mb-6">
                                <div class="col-6">
                                    <span>Retenci贸n IVA</span>
                                    <input type="text" class="form-control"> <br>
                                </div>
                                <div class="col-6">
                                    <span>Retenci贸n ISR</span>
                                    <input type="text" class="form-control"> <br>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-lg-3 mb-3 text-center">
                                <label for="" class="font-weight-bold">Factura / Remisi贸n</label><br>
                                <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1"
                                    role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Desplegar
                                    Tabla</a>
                            </div>

                            <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                                <div class="collapse multi-collapse" id="multiCollapseExample1">
                                    <div class="card card-body">
                                        <label for="" class="font-weight-bold">Cotizacion /
                                            Proyecto</label><br>
                                        <!-- datatable start -->
                                        <table id="cotizaciones"
                                            class="table table-bordered table-hover table-striped w-100">
                                            <thead class="bg-primary-600">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Proyecto - Razon Social</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                        <!-- datatable end -->
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-4">
                                    <label>Tipo de venta</label>
                                    <select class="form-control d-inline " style="width:95% !important"
                                        name="empleado_sexo_id">
                                        <option value="" disabled selected></option>
                                        <option value="1">Hombre</option>
                                        <option value="2">Mujer</option>

                                    </select>
                                </div>
                                <div class="col-4">
                                    <span>Numero de factura</span>
                                    <input type="text" class="form-control"> <br>
                                </div>
                                <div class="col-4">
                                    <span>UUID</span>
                                    <input type="text" class="form-control"> <br>
                                </div>
                            </div>


                            <label>Fecha de transferencia</label>
                            <input type="date" class="form-control" name="empleado_fecha_nacimiento"><br>


                            <label>Comentarios</label>
                            <textarea class="form-control" name="w3review" rows="4" cols="50"></textarea><br>


                            <br><br>
                            <button type="submit" class="btn-outline-info btn-lg btn-block ">Generar Erogaci贸n</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



{{#section 'scripts'}}
<script>
    //const cotizacion = {{{ json cotizacion }}}
    $(document).ready(function () {

        // initialize datatable
        $('#cotizaciones').dataTable(
            {
                data: ['juan', 'pedro', 'maria'],
                responsive: true,
                lengthChange: false,
                dom:
                    "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [

                    {
                        extend: 'pdfHtml5',
                        text: 'PDF',
                        titleAttr: 'Generate PDF',
                        className: 'btn-outline-danger btn-sm mr-1'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        titleAttr: 'Generate Excel',
                        className: 'btn-outline-success btn-sm mr-1'
                    },
                    {
                        extend: 'csvHtml5',
                        text: 'CSV',
                        titleAttr: 'Generate CSV',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'copyHtml5',
                        text: 'Copy',
                        titleAttr: 'Copy to clipboard',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'print',
                        text: 'Print',
                        titleAttr: 'Print Table',
                        className: 'btn-outline-primary btn-sm'
                    }
                ]
            });

    });


</script>
{{/section}}