<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Visualizar Proyectos <span class="fw-300"><i>DOTDCD - ERP</i></span></h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="container mb-4 mt-2">
                        <div class="row">
                        
                        <div class="col-6 col-sm-6" >
                            <a href="" class="btn btn-lg text-white " style="background-image: -webkit-gradient(linear, right top, left top, from(rgba(46, 182, 151, .18)), to(transparent));background-image: linear-gradient(270deg, rgba(46, 182, 151, .18), transparent);background-color: #445175;color: #fff;"><i class="fal fa-light fa-arrow-left"></i></a>
                        </div>
                        <div class="col-6 col-sm-6 float-right">
                            <a href="" class="btn btn-lg text-white float-right"  onmouseover="this.style.opacity = '0.5'" onmouseout="this.style.opacity = '1'" style="background-image: -webkit-gradient(linear, right top, left top, from(rgba(46, 182, 151, .18)), to(transparent));background-image: linear-gradient(270deg, rgba(46, 182, 151, .18), transparent);background-color: #445175;color: #fff; "><i class="fal fa-light fa-arrow-right"></i></a>
                        </div>
                    </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row"> 
                            {{#each proyectos}}                        
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                                <div class="container card pl-4 pt-4 pb-6" style="width:100% !important;">
                                <div class="row mb-2" style="display: block;">
                                    <span class="text-center d-block font-weight-bold text-center">{{cotizacion_id}}</span>
                                    <span class="text-center d-block">{{cotizacion_proyecto}}</span>
                                    
                                    <span class="text-center d-block">Cotizado: <span class="font-weight-bold">${{money total}}</span></span>
                                    <span class="text-center d-block font-weight-bold">{{cliente_razon_social}}</span>
                                </div>
                                <div class="row ">
                                    <div class="container-fluid">
                                        <div class="row mb-1 ">
                                            <div class="col-1"></div>
                                            <div class="col-10 d-flex justify-content-center">
                                                <h6 class="mr-2 flex-wrap"><span class="badge text-dark" style="background-color: #8BC34A ;"> 1 - 15</span></h6>
                                                <h6 class="mr-2 flex-wrap"><span class="badge text-dark" style="background-color: #CDDC39 ;">16 - 30</span></h6>
                                                <h6 class="mr-2 flex-wrap"><span class="badge text-dark" style="background-color: #FFC107 ;">31 - 45</span></h6>
                                                <h6 class="mr-2 flex-wrap"><span class="badge text-dark" style="background-color: #FF9800 ;">46 - 60</span></h6>
                                                <h6 class="mr-2 flex-wrap"><span class="badge text-dark" style="background-color: #fc4c49;">+60 días</span></h6>
                                            </div>
                                            <div class="col-1"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                {{#if (is cotizacion_moneda_id 1)}}<span class="badge" style="background-color: #e8fa45; color:black !important;">MXN</span>{{else}}<span class="badge" style="background-color: #448400; color:white;">USD</span>{{/if}}
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 px-2">

                                            <div class="container">
                                            <div class="row">
                                                <div class="col-3"></div>
                                                <div class="col-8 px-1">
                                                <ul style="display: flex; list-style-type: none; margin: 0; padding: 0;">
                                                    <li style="flex-grow: 1; text-align: center;">0%</li>
                                                    <li style="flex-grow: 1; text-align: center;">50%</li>
                                                    <li style="flex-grow: 1; text-align: right;">100%</li>
                                                </ul>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                            </div>
                                        
                                        <div class="container-fluid">
                                            <div class="row">
                                                    <div class="col-1"></div>
                                                    <div class="col-1 mr-2" style="position:relative;">
                                                        <span style="position:absolute;left:-20px;">{{roundCero pf}}%</span>
                                                    </div>
                                                    <div class="col-9">
                                                    <div class="progress mb-2 border" style="height: 21px;">
                                                        <span class="progress-indicator" style="background-color: ; display: inline-block; width: 20px; height: 20px; border-radius: 100%; margin-right: 5px;"></span>
                                                        <div class="progress-bar" role="progressbar" style="width: {{roundCero pf}}%; height: 30px !important; background-color:#FFFF00;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                            <div class="d-flex justify-content-start">
                                                                <h6 class="mr-2 flex-wrap" style="position: absolute; z-index: 111; top:5%; left:20%;"><span class="badge text-white" style="text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; background-color:#ffff0000;">PF</span>
                                                                </h6> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                            
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-1"></div>
                                                <div class="col-1 mr-2" style="position:relative;">
                                                    <span style="position:absolute;left:-20px;">{{#if (isPercentMayor porcentajecobrado)}} 100{{else if (isPercentMinor porcentajecobrado)}} 0{{else}} {{roundCero  porcentajecobrado}}{{/if}}%</span>
                                                </div>
                                                <div class="col-9"> 
                                                    <div class="progress mb-2 border" style="height: 21px;">
                                                        <span class="progress-indicator" style="background-color: {{daysColors dias.cobrado}}; display: inline-block; width: 20px; height: 20px; border-radius: 100%; margin-right: 5px;"></span>
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: {{#if (isPercentMayor porcentajecobrado)}} 100{{else if (isPercentMinor porcentajecobrado)}} 0{{else}} {{roundCero porcentajecobrado}}{{/if}}%; height: 30px !important;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                                            <div class="d-flex justify-content-start">
                                                                <h6 class="mr-2 flex-wrap" style="position: absolute; z-index: 111; top:5%; left:20%;"><span class="badge  text-white" style="text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;">Cobrado</span>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>


                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-1"></div>
                                                <div class="col-1 mr-2" style="position:relative;">
                                                    <span style="position:absolute;left:-20px;">{{#if (isPercentMayor porcentajefacturado)}} 100{{else if (isPercentMinor porcentajefacturado)}} 0{{else}} {{roundCero porcentajefacturado}}{{/if}}%</span>
                                                </div>
                                                <div class="col-9">
                                                    <div class="progress mb-2 border" style="height: 21px;">
                                                        <span class="progress-indicator" style="background-color: {{daysColors dias.facturado}}; display: inline-block; width: 20px; height: 20px; border-radius: 100%; margin-right: 5px;"></span>
                                                        <div class="progress-bar bg-info" role="progressbar" style="width: {{#if (isPercentMayor porcentajefacturado)}} 100{{else if (isPercentMinor porcentajefacturado)}} 0{{else}} {{roundCero porcentajefacturado}}{{/if}}%; height: 30px !important;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                                            <div class="d-flex justify-content-start">
                                                                <h6 class="mr-2 flex-wrap" style="position: absolute; z-index: 111; top:5%; left:20%;"><span class="badge  text-white" style="text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;">Facturado</span>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                     
                                     

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-1 mr-2" style="position:relative;">
                                            <span style="position:absolute;left:-20px;">{{roundCero porcentajecomprado}}%</span>
                                        </div>
                                        <div class="col-9">
                                            <div class="progress mb-2 border" style="height: 21px;">
                                                <span class="progress-indicator" style="background-color: {{daysColors dias.comprado}}; display: inline-block; width: 20px; height: 20px; border-radius: 100%; margin-right: 5px;"></span>
                                                <div class="progress-bar bg-primary" role="progressbar" style="width:{{#if (isPercentMayor porcentajecomprado)}} 100{{else if (isPercentMinor porcentajecomprado)}} 0{{else}} {{roundCero porcentajecomprado}}{{/if}}%; height: 30px !important;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="d-flex justify-content-start">
                                                        <h6 class="mr-2 flex-wrap" style="position: absolute; z-index: 111; top:5%; left:20%;"><span class="badge  text-white" style="text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;">Comprado</span></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-1 mr-2" style="position:relative; z-index: 1;">
                                            <span style="position:absolute;left:-20px;">{{#if (isPercentMayor tiempos.porcentaje_avance)}} 100{{else if (isPercentMinor tiempos.porcentaje_avance)}} 0{{else}} {{roundCero tiempos.porcentaje_avance}}{{/if}}%</span>
                                        </div>
                                        <div class="col-9">
                                            <div class="progress mb-2 border" style="height: 21px;">
                                                
                                                <span class="progress-indicator" style="background-color: ; display: inline-block; width: 20px; height: 20px; border-radius: 100%; margin-right: 5px; "></span>
                                                <div class="progress-bar " role="progressbar" style="width:{{#if (isPercentMayor tiempos.porcentaje_avance)}} 100{{else if (isPercentMinor tiempos.porcentaje_avance)}} 0{{else}} {{roundCero tiempos.porcentaje_avance}}{{/if}}%; height: 30px !important; background-color:#001F7F; z-index: 0;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="d-flex justify-content-start">
                                                        <h6 class="mr-2 flex-wrap" style="position: absolute; z-index: 111; top:5%; left:20%;"><span class="badge text-white" style="text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black; background-color:#00207f00;"> Tiempos de Proyecto</span></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-1 mr-2" style="position:relative;">
                                                <span style="position:absolute;left:-20px;">100%</span>
                                            </div>
                                            <div class="col-9">
                                                <div class="progress mb-2 border" style="height: 21px;">
                                                    <span class="progress-indicator" style="background-color: ; display: inline-block; width: 20px; height: 20px; border-radius: 100%; margin-right: 5px;"></span>
                                                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%; height: 30px !important;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                                        <div class="d-flex justify-content-start">
                                                            <h6 class="mr-2 flex-wrap" style="position: absolute; z-index: 111; top:5%; left:20%;"><span class="badge  text-white" style="text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;">MO Horas Técnicas</span></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="col-1"></div>
                                        </div>
                                    </div>

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-1 mr-2" style="position:relative;">
                                            <span style="position:absolute;left:-20px;">100%</span>
                                        </div>
                                        
                                        <div class="col-9">
                                        <div class="progress mb-2 border" style="height: 21px;">
                                            <span class="progress-indicator" style="background-color:; display: inline-block; width: 20px; height: 20px; border-radius: 100%; margin-right: 5px;"></span>
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%; height: 30px !important;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                <div class="d-flex justify-content-start">
                                                    <h6 class="mr-2 flex-wrap" style="position: absolute; z-index: 111; top:5%; left:20%;"><span class="badge  text-white" style="text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;">MO Indirecto de Campo</span></h6>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                                </div>


                                
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 px-1">
                                                <ul style="display: flex; list-style-type: none; margin: 0; padding: 0;">
                                                    <li style="flex-grow: 1; text-align: center;">0%</li>
                                                    <li style="flex-grow: 1; text-align: center;">25%</li>
                                                    <li style="flex-grow: 1; text-align: center;">50%</li>
                                                    <li style="flex-grow: 1; text-align: center;">75%</li>
                                                    <li style="flex-grow: 1; text-align: right;">100%</li>
                                                </ul>
                                                </div>
                                            </div>
                                            </div>
                                    </div>

                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>


            </div>
        </div>
    </div>
</div>
<br> <br>




{{#section 'scripts'}}
<script>

    
    const datos = {
        "barras": [
            {
                "nombre": "Coitizado",
                "porcentaje": 90
            },
            {
                "nombre": "Tiempos del proyecto",
                "porcentaje": 30
            },
            {
                "nombre": "Facturado",
                "porcentaje": 40
            },
            {
                "nombre": "Cobrado",
                "porcentaje": 50
            },
            {
                "nombre": "Horas técnicas consumidas",
                "porcentaje": 60
            },
            {
                "nombre": "Comprado",
                "porcentaje": 70
            },
            {
                "nombre": "Horas indirectas",
                "porcentaje": 100
            }
        ]
    };

    function actualizarPorcentajes(datos) {
        // Obtener lista de elementos <li> en el HTML
        const barras = document.querySelectorAll('ul.list-unstyled li');

        // Iterar sobre cada propiedad del objeto JSON
        for (const { nombre, porcentaje } of datos.barras) {
            // Buscar la barra con el nombre correspondiente
            const barra = Array.from(barras).find(li => li.querySelector('span').textContent === nombre);
            if (!barra) continue; // Saltear si no se encontró la barra

            // Actualizar la barra con el nuevo porcentaje
            const progressBar = barra.querySelector('.progress-bar');
            progressBar.style.width = `${porcentaje}%`;
            progressBar.setAttribute('aria-valuenow', porcentaje);
        }
    }

    actualizarPorcentajes(datos);


const proyectosObj = {{{json proyectos}}}
console.log(proyectosObj)
</script>
{{/section}}

{{#section 'head'}}
<style>
    .progress-bar {
        width: 1000px;
    }
</style>
{{/section}}