<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Editar Dispositivo<span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <form method="post" class="form-group"
                                        action="/updDispositivo/{{d.dispositivo_id}}">
                                        <center>
                                            <h3>Editar Dispositivo</h3>
                                        </center>
                                        <br><br>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <label for="">
                                                    <h4>Nombre</h4>
                                                </label>
                                                <input type="text" class="form-control" name="descripcion" id="nombre"
                                                    placeholder="Nombre del dispositivo" value="{{d.descripcion}}">
                                                <br> <br>
                                                <label for="">
                                                    <h4>Tipo de Cable A</h4>
                                                </label>
                                                <select class="form-control" name="cable_idA" id="">
                                                    {{#each c}}
                                                    <option value="{{cable_id}}" {{#if (is ../d.cable_idA cable_id)}}
                                                        selected {{/if}}>{{descripcion}}</option>
                                                    {{/each}}

                                                </select>
                                                <br><br>
                                                <label for="">
                                                    <h4>Rendimiento HH : MM</h4>
                                                </label>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="number" name="rendimiento_hr" class="form-control"
                                                            placeholder="HH" value="{{d.rendimiento_hr}}">
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="number" name="rendimiento_min" class="form-control"
                                                            placeholder="MM" value="{{d.rendimiento_min}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">
                                                    <h4>Clave</h4>
                                                </label>
                                                <input type="text" class="form-control" name="clave" id="nombre"
                                                    placeholder="Clave del dispositivo" value="{{d.clave}}">
                                                <br> <br>
                                                <label for="">
                                                    <h4>Tipo de Cable B</h4>
                                                </label>
                                                <select class="form-control" name="cable_idB" id="">
                                                    {{#each c}}
                                                    <option value="{{cable_id}}" {{#if (is ../d.cable_idB cable_id)}}
                                                        selected {{/if}}>{{descripcion}}</option>
                                                    {{/each}}
                                                </select>
                                                <br><br>


                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <label for="">
                                                            <h4> Disciplina</h4>
                                                        </label>
                                                        <select class="form-control" name="familia_id" id="">
                                                            {{#each f}}
                                                            <option value="{{familia_id}}" {{#if (is ../d.familia_id
                                                                familia_id)}} selected {{/if}}>{{familia_descripcion}}
                                                            </option>
                                                            {{/each}}

                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <label for="">
                                                            <h4> Estatus</h4>
                                                        </label>
                                                        <select class="form-control" name="dispositivo_estatus_baja"
                                                            id="">
                                                            <option value="0">Activo</option>
                                                            <option value="1">Inactivo</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>


                                        <table class="table table-stripped table-success" id="t2">
                                            <tr>
                                                <th>ID</th>
                                                <th>
                                                    Actividad
                                                </th>
                                                <th>Check</th>
                                                <th>Hr</th>
                                                <th>Min</th>
                                                <th>Costo</th>
                                            </tr>
                                            {{#each selected}}
                                            <tr>
                                                <td>{{componente_id}}</td>
                                                <td class="text-dark h3"> <b> {{componente_nombre}}</b></td>
                                                <td><input type="checkbox" class="form-control" {{#if (is activo "1" )}}
                                                        checked {{/if}} onchange="cambio2()"></td>
                                                <td><input type="text" name="" value="{{rendimiento_hr}}" id="hr"
                                                        class="form-control w-75"></td>
                                                <td><input type="text" name="" value="{{rendimiento_min}}" id="mn"
                                                        class="form-control w-75"></td>
                                                <td><input type="text" name="" value="{{costo}}" id="costo"
                                                        class="form-control w-75"></td>
                                            </tr>
                                            {{/each}}
                                        </table>


                                        
                                        <br><br>
                                        <button type="button" id="save" class="btn-outline-info btn-lg btn-block">Agregar</button>
                                    </form>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}

<script>
import axios from 'axios'













function cambio2() {
    var table = document.getElementById("t2");
    var elements = table.getElementsByTagName("input");
    var data = [];
    var obj = {};
    var checkboxIndex = 0;
    var inputIndex = 0;
    const ids = {{{json selected}}}
    const idaa = {{{json d}}}
    console.log(idaa.dispositivo_id);

    

    for (var i = 0; i < elements.length; i++) {
        var a = Math.floor(i / 4);
        obj.componente_id = ids[a].componente_id;
    if (elements[i].type === "checkbox") {
        obj.activo = elements[i].checked ? 1 : 0;
        checkboxIndex = i;
    } else if (elements[i].type === "text") {
        if (i === checkboxIndex + 1) {
            obj.rendimiento_hr = elements[i].value;
        } else if (i === checkboxIndex + 2) {
            obj.rendimiento_min = elements[i].value;
        } else if (i === checkboxIndex + 3) {
            obj.costo = elements[i].value;
            data.push(obj);
            obj = {
                componente_id: 0,
                activo: 0,
                rendimiento_hr: 0,
                rendimiento_min: 0,
                costo: 0
            };
            checkboxIndex = 0;
            inputIndex = 0;
        }
    }
}


    

    console.log(data);

}




document.getElementById("save").addEventListener("click", guardarValores);
function guardarValores(){
    axios({
  method: 'post',
  url: '/updDispositivo2/'+ {{d.dispositivo_id}},
  data: data
})
.then(function (response) {
  console.log(response);
})
.catch(function (error) {
  console.log(error);
});
}
document.addEventListener('DOMContentLoaded', function () {
    cambio2();

    console.log();
});


</script>

{{/section}}