<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Agregar Dispositivo<span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <form method="post" class="form-group" action="/AddDispositivo">
                                        <center>
                                            <h3>Agregar Dispositivo</h3>
                                        </center>
                                        <br><br>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <label for="">
                                                    <h4>Nombre</h4>
                                                </label>
                                                <input type="text" class="form-control" name="descripcion" id="nombre"
                                                    placeholder="Nombre del dispositivo">
                                                <br> <br>
                                                <label for="">
                                                    <h4>Tipo de Cable A</h4>
                                                </label>
                                                <select class="form-control" name="cable_idA" id="">
                                                    {{#each c}}
                                                    <option value="{{cable_id}}">{{descripcion}}</option>
                                                    {{/each}}

                                                </select>
                                                <br><br>
                                                <label for="">
                                                    <h4>Rendimiento HH : MM</h4>
                                                </label>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" name="rendimiento_hr" class="form-control"
                                                            placeholder="HH">
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" name="rendimiento_min" class="form-control"
                                                            placeholder="MM">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">
                                                    <h4>Clave</h4>
                                                </label>
                                                <input type="text" class="form-control" name="clave" id="nombre"
                                                    placeholder="Nombre del dispositivo">
                                                <br> <br>
                                                <label for="">
                                                    <h4>Tipo de Cable B</h4>
                                                </label>
                                                <select class="form-control" name="cable_idB" id="">
                                                    {{#each c}}
                                                    <option value="{{cable_id}}">{{descripcion}}</option>
                                                    {{/each}}
                                                </select>
                                                <br><br>
                                                <label for="">
                                                    <h4> Disciplina</h4>
                                                </label>
                                                <select class="form-control" name="familia_id" id="">
                                                    {{#each f}}
                                                    <option value="{{familia_id}}">{{familia_descripcion}}</option>
                                                    {{/each}}

                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        
                                        <br><br>
                                        <button type="submit" class="btn-outline-info btn-lg btn-block">Agregar</button>
                                    </form>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Editar Dispositivo<span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="container"><div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                        <table id="tabla" class="table table-success table-responsive table-stripped table-bordered">

                        </table>

                    <button type="submit" id="save" onclick="guardar()"
                                            class="btn-outline-info btn-lg btn-block">Agregar</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<button onclick="sendData()">asd</button>
-->
{{#section 'scripts'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"
    integrity="sha512-L4lHq2JI/GoKsERT8KYa72iCwfSrKYWEyaBxzJeeITM9Lub5vlTj8tufqYk056exhjo2QDEipJrg6zen/DDtoQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  
const lista = {{{json lista }}}

generarTabla(lista)

function generarTabla(rows) {
  var tabla = document.getElementById("tabla");
  for (var i = 0; i < rows.length; i++) {
    var row = rows[i];
    var tr = document.createElement("tr");
    for (var j = 0; j < 6; j++) {
      var td = document.createElement("td");
      var input;
      if (j === 0) {
        input = document.createElement("input");
        input.type = "text";
        input.value = row.componente_id;
      } else if (j === 1) {
        input = document.createElement("input");
        input.type = "text";
        input.value = row.componente_nombre;
      } else if (j === 2) {
        input = document.createElement("input");
        input.type = "checkbox";
        input.value = row.activo;
      } else {
        input = document.createElement("input");
        input.type = "text";
      }
      input.classList.add("form-control");
      input.id = `input${i}-${j}`;
      td.appendChild(input);
      tr.appendChild(td);
    }
    tabla.appendChild(tr);
  }
  // Agregar evento al botón para enviar los datos
  var sendButton = document.getElementById("sendButton");
}


function sendData() {
  // Obtener la tabla con el id 'tabla'
  const table = document.getElementById("tabla");
  // Obtener todos los inputs dentro de la tabla
  const inputs = table.querySelectorAll("input");
  // Crear un objeto vacío para almacenar los datos
  const data = {};
  // Iterar sobre los inputs y agregar los valores al objeto
  inputs.forEach(input => {
    data[input.name] = input.value;
  });
  // Enviar los datos a la ruta '/addComponentes2/' utilizando Axios
  console.log(data);

}





    function limpiaTabla() {
        for (var i = 0; i < ids.length; i++) {
            var componente_id = document.getElementById("componente_id" + i).value;
            var componente_nombre = document.getElementById("componente_nombre" + i).value;
            var activo = document.getElementById("activo" + i).checked;
            var rendimiento_hr = document.getElementById("rendimiento_hr" + i).value;
            var rendimiento_min = document.getElementById("rendimiento_min" + i).value;
            var costo = document.getElementById("costo" + i).value;

            if (!activo) {
                rendimiento_hr = 0;
                rendimiento_min = 0;
                costo = 0;
                document.getElementById("rendimiento_hr" + i).value = rendimiento_hr;
                document.getElementById("rendimiento_min" + i).value = rendimiento_min;
                document.getElementById("costo" + i).value = costo;
            }
        }

    }



</script>

{{/section}}