<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    Agregar Dispositivo<span class="fw-300"><i></i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="metasAll">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <form method="post" class="form-group" action="/AddDispositivo">
                                        <center>
                                            <h3>Agregar Dispositivo</h3>
                                        </center>
                                        <br><br>
                                        <div class="row">

                                            <div class="col-md-6">
                                                <label for="">
                                                    <h4>Nombre</h4>
                                                </label>
                                                <input type="text" class="form-control" name="descripcion" id="nombre"
                                                    placeholder="Nombre del dispositivo">
                                                <br> <br>
                                                <label for="">
                                                    <h4>Tipo de Cable A</h4>
                                                </label>
                                                <select class="form-control" name="cable_idA" id="">
                                                    {{#each c}}
                                                    <option value="{{cable_id}}">{{descripcion}}</option>
                                                    {{/each}}

                                                </select>
                                                <br><br>
                                                <label for="">
                                                    <h4>Rendimiento HH : MM</h4>
                                                </label>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" name="rendimiento_hr" class="form-control"
                                                            placeholder="HH">
                                                    </div>
                                                    <div class="col-md-6 col-sm-6">
                                                        <input type="text" name="rendimiento_min" class="form-control"
                                                            placeholder="MM">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="">
                                                    <h4>Clave</h4>
                                                </label>
                                                <input type="text" class="form-control" name="clave" id="nombre"
                                                    placeholder="Nombre del dispositivo">
                                                <br> <br>
                                                <label for="">
                                                    <h4>Tipo de Cable B</h4>
                                                </label>
                                                <select class="form-control" name="cable_idB" id="">
                                                    {{#each c}}
                                                    <option value="{{cable_id}}">{{descripcion}}</option>
                                                    {{/each}}
                                                </select>
                                                <br><br>
                                                <label for="">
                                                    <h4> Disciplina</h4>
                                                </label>
                                                <select class="form-control" name="familia_id" id="">
                                                    {{#each f}}
                                                    <option value="{{familia_id}}">{{familia_descripcion}}</option>
                                                    {{/each}}

                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <table class="table table-success">
                                            <tr class="text-center">
                                                <th colspan="8"><h4>Tabla</h4></th>
                                                
                                            </tr>
                                            <tr>
                                                <td>Nombre</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>ID</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>ID de Plano	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Submittal</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>Ubicación, Nivel y Ejes	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td># Serie</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Metros de Cable</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Cable UTP</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>IP/Direccion</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Mac Address</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>1 Foto	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>2 Foto	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>Mas Fotos</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Suministro eléctrico</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Fuente de suministro eléctrico (fuente/pastilla)</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Puerto Red</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>Puerto del switch</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Altura de Trabajo</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Superficie de Montaje</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>asVersion de FW</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>Mascara de Red</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Gateway Pasarela</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>VLAN</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Usuario</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>Contraseña</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Planos en Cad</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Ingeniería/Cálculo	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Aprobado</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>Requerido</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Llegada a Sitio	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Tubería</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Llegada de Tubería	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>Corte de Cable	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Bajada de cableado en Dispositivo	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Bajada de cableado en Panel	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Instalado</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>Conexionado en el dispositivo</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Conexionado en el panel	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Configurado</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Pruebas de Equipo</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>
                                            <tr>
                                                <td>Pruebas de Cableado	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Gráficos	</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Historial</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Alarmas</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>
                                            <tr>
                                            <td>Historial</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                                <td>Alarmas</td>
                                                <td><input type="checkbox" class="form-control"></td>
                                            </tr>


                                        </table>
                                        <br><br>
                                        <button type="submit" class="btn-outline-info btn-lg btn-block">Agregar</button>
                                    </form>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>