<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <span class="fw-300"><strong>Crear</strong> <i>Prefactura</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10"
                        data-originalbmnvxzcbhmgchdghjitle="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                        data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                        data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row text-center ">
                        <div class="col-12">
                            <h3 class="display-4">Prefacturar</h3>
                        </div>
                    </div>
                    <form action="/addPrefactura" method="post">
                        <div class="container">
                            <div class="row mt-3 mb-3">
                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Empresa</label><br>
                                    <select name="factura_empresa_id" id="" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        {{#each empresa}}
                                        <option value="{{id}}">{{nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Cliente</label><br>
                                    <select name="factura_cliente_id" id="" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        {{#each cliente}}
                                        <option value="{{cliente_id}}">{{cliente_razon_social}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Descripción</label><br>
                                    <input class="form-control" type="text" name="factura_descripcion" id=""
                                        placeholder="Descripción">
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Empleado que Documenta</label><br>
                                    <select name="factura_empleado_id" id="" class="form-control">
                                        <option value="" selected disabled></option>
                                        <option value="{{session.userId}}" selected>{{session.username}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="row mt-3 mb-3">

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Inversion</label><br>
                                    <select name="factura_inversion_id" id="" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        {{#each inversion}}
                                        <option value="{{inversion_id}}">{{inversion_clave}}</option>
                                        {{/each}}
                                    </select>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Sucursal</label><br>
                                    <select name="sucursal_id" id="" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        {{#each sucursal}}
                                        <option value="{{id}}">{{nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Centro de Costo</label><br>
                                    <select name="factura_centrodecostos_id" id="" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        {{#each centroCostos}}
                                        <option value="{{id}}">{{nombre}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                            
                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3 text-center">
                                    <label for="" class="font-weight-bold">Proyecto / Razón Social</label><br>
                                    <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1"
                                        role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Desplegar Tabla</a>
                                </div>

                                
                                    <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                                            <div class="card card-body">
                                                <label for="" class="font-weight-bold">Cotizacion /
                                                    Proyecto</label><br>
                                                <!-- datatable start -->
                                                <table id="cotizaciones"
                                                    class="table table-bordered table-hover table-striped w-100">
                                                    <thead class="bg-primary-600">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Proyecto - Razon Social</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                                <!-- datatable end -->
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            <div class="row mt-3 mb-3">

                                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                                    <label for="" class="font-weight-bold">Folio</label><br>
                                    <select name="factura_folio_id" id="" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        {{#each folios}}
                                        <option value="{{folio_id}}">{{folio_descripcion}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Anticipo</label><br>
                                    <select name="factura_anticipo_id" id="" class="form-control">
                                        <option selected disabled>Seleccionar</option>
                                        <option value="2">Anticipo</option>
                                    </select>
                                </div>



                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Factura / Remision</label><br>
                                    <select name="factura_remisionfactura_id" id="" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        {{#each remision}}
                                        <option value="{{remisionfactura_id}}">{{remisionfactura_descripcion}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                            </div>

                            <div class="row mt-3 mb-3">

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Moneda</label><br>
                                    <select name="factura_moneda_id" id="" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        {{#each moneda}}
                                        <option value="{{moneda_id}}">{{moneda_descripcion}}</option>
                                        {{/each}}
                                    </select>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Tipo de Venta</label><br>
                                    <select name="tipo_venta" id="" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        <option value="1">POLIZA</option>
                                        <option value="2">RENTA</option>
                                        <option value="3">VENTA</option>
                                        <option value="4">OBRA</option>
                                    </select>
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Subtotal</label><br>
                                    <input class="form-control" step="0.01" type="text" name="factura_subtotal"
                                        id="subtotal" placeholder="Subtotal" onchange="totaal()">
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">IVA</label><br>
                                    <input class="form-control" step="0.01" type="text" name="factura_iva" id="ivaa"
                                        placeholder="IVA">
                                </div>

                            </div>

                            <div class="row mt-3 mb-3">

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Retención IVA</label><br>
                                    <input class="form-control border border-primary" type="text" name="retencion"
                                        id="retencion" placeholder="Retención IVA">
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Retención ISR</label><br>
                                    <input class="form-control" type="text" name="retencion_isr" id=""
                                        placeholder="Retención ISR">
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">TOTAL</label><br>
                                    <input class="form-control" type="number" step="0.01" name="factura_total"
                                        id="total" placeholder="Total">
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Tipo de cambio</label><br>
                                    <input class="form-control" type="text" name="tipo_cambio" id=""
                                        placeholder="Tipo de Cambio">
                                </div>

                            </div>


                            <div class="row mt-3 mb-3">

                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Fecha Alta</label><br>
                                    <input class="form-control" type="date" name="factura_fecha_alta" id="">
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Observaciones</label><br>
                                    <input class="form-control" type="text" name="factura_observaciones" id=""
                                        placeholder="Observaciones">
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Correo de cliente</label><br>
                                    <input class="form-control" type="text" name="correo" id=""
                                        placeholder="E-Mail del Cliente">
                                </div>


                                <div class="col-md-6 col-sm-6 col-lg-3 mb-3">
                                    <label for="" class="font-weight-bold">Uso de CFDI</label><br>
                                    <select name="uso_cfdi" id="" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        <option value="1">Gastos en General</option>
                                        <option value="2">Adquisición de mercancías</option>
                                        <option value="3">Construcciones</option>
                                        <option value="4">Otros</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row mt-3 mb-3">
                                <div class="col-md-4 col-sm-6 col-lg-4 mb-3">
                                    <label for="" class="font-weight-bold">UUID</label><br>
                                    <input class="form-control" type="text" name="uuid" id="" placeholder="UUID">
                                </div>


                                <div class="col-md-4 col-sm-6 col-lg-4 mb-3">
                                    <label for="" class="font-weight-bold">Forma de Pago</label><br>
                                    <select name="forma_pago" id="" class="form-control">
                                        <option selected disabled value="">Seleccionar</option>
                                        <option value="1">Cheque</option>
                                        <option value="2">Transferencia</option>
                                        <option value="3">Efectivo</option>
                                        <option value="4">Por Definir</option>
                                    </select>
                                </div>


                                <div class="col-md-4 col-sm-12 col-lg-4 mb-1">
                                    <label for="" class="font-weight-bold">Credito de pago negociado</label><br>
                                    <input class="form-control" type="text" name="dias_credito" id=""
                                        placeholder="Crédito de Pago Negociado">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 text-center mt-5">
                            <button type="submit" class="btn btn-outline-success btn-lg">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <a href="/dashboard/administracion/prefacturas/ver"><button class="btn btn-outline-primary btn-lg">Ver
                    Facturas Programadas</button></a>

        </div>
        <div class="col-6 text-center">
            <a href="/dashboard/administracion/prefacturas/programar"><button class="btn btn-outline-btn btn-outline-info btn-lg btn-lg">Programar Prefactura</button></a>

        </div>
    </div>
</div>
{{#section 'scripts'}}
<script>
    const cotizacion = {{{ json cotizacion }}}
    $(document).ready(function () {

        // initialize datatable
        $('#cotizaciones').dataTable(
            {
                data: cotizacion,
                responsive: true,
                lengthChange: false   ,
                dom:
                    "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [

                    {
                        extend: 'pdfHtml5',
                        text: 'PDF',
                        titleAttr: 'Generate PDF',
                        className: 'btn-outline-danger btn-sm mr-1'
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        titleAttr: 'Generate Excel',
                        className: 'btn-outline-success btn-sm mr-1'
                    },
                    {
                        extend: 'csvHtml5',
                        text: 'CSV',
                        titleAttr: 'Generate CSV',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'copyHtml5',
                        text: 'Copy',
                        titleAttr: 'Copy to clipboard',
                        className: 'btn-outline-primary btn-sm mr-1'
                    },
                    {
                        extend: 'print',
                        text: 'Print',
                        titleAttr: 'Print Table',
                        className: 'btn-outline-primary btn-sm'
                    }
                ]
            });

    });
    function totaal() {
        let subtotal = document.getElementById('subtotal').value
        let iva = subtotal * 0.16
        let total = parseFloat(iva) + parseFloat(subtotal)
        document.getElementById('ivaa').value = iva.toFixed(2)
        document.getElementById('total').value = total.toFixed(2)
    }


</script>
{{/section}}